.section-filter {
  background-color : ghostwhite;
  padding          : 25px 0;
}

@media screen and (min-width : 1200px) {

  .section-filter {
    max-width : calc(#{$maxContainerWidth} - #{$mainContentPaddingLg * 2});
    margin    : 0 auto;
  }

  .section-filter__inner {
    display         : flex;
    flex-flow       : row nowrap;
    justify-content : flex-start;
    align-items     : flex-start;
  }

  .section-filter__filter {
    width : 70%;
    order : 2;
  }

  .section-filter__sort {
    width        : 30%;
    margin-right : 15px;
    order        : 1;
    margin-top   : 5px;
  }

}
