@import "../../common/variables";

feed {
  display : block;
}

.pets-feed {
  margin          : 10px auto;
  display         : flex;
  justify-content : center;
  flex-flow       : row wrap;
  align-items     : stretch;
  padding         : 10px 0;
}

.pets-feed__item {
  flex : 0 100%;
}

@media (min-width : 700px) {
  .pets-feed {
    justify-content : space-between;
  }

  .pets-feed__item {
    flex : 0 49%;
  }
}

@media (min-width : 900px) {
  .pets-feed__item {
    flex : 0 32%;
  }
}

@media (min-width : 1400px) {
  .pets-feed__item {
    flex : 0 24%;
  }
}

@media (min-width : 1700px) {
  .pets-feed__item {
    flex : 0 19%;
  }
}