@import "../../common/variables";

.adverts-feed {
  margin          : 10px auto;
  display         : flex;
  justify-content : center;
  flex-flow       : row wrap;
  align-items     : stretch;
  padding         : 10px 0;
}

@media (min-width : 700px) {
  .adverts-feed {
    justify-content : space-between;
  }
}