form(ng-submit="ctrl.login();")
    .item
        label(for="login__email") Email
        input(ng-model="ctrl.loginEmail" type="email", name="email" class="login__input", id="login__email")
    .item
        label(for="login__password") Password
        input(ng-model="ctrl.loginPassword" type="password", name="password" class="login__input", id="login__password")
    .item
        input(type="submit")