ul.header__menu
    li.header__menu-item.header__menu-item--lang(ng-class="{'active' : header.languageSelect}")
        language(language-select="header.languageSelect")
    li.header__menu-item(ng-class="{'hidden' : header.languageSelect}" ng-if="!header.user")
        .header__menu-link(popup-trigger="registration") {{'Sign Up' | translate}}
    li.header__menu-item(ng-class="{'hidden' : header.languageSelect}" ng-if="!header.user")
        .header__menu-link(popup-trigger="login") {{'Login' | translate}}
    li.header__menu-item(ng-class="{'hidden' : header.languageSelect}" ng-if="header.user && header.isAdmin")
        a.header__menu-link(href='/admin') {{'Admin' | translate}}
    li.header__menu-item(ng-class="{'hidden' : header.languageSelect}" ng-if="header.user")
        a.header__menu-link(href='/profile') {{'Profile' | translate}}
    li.header__menu-item(ng-class="{'hidden' : header.languageSelect}" ng-if="header.user")
        a.header__menu-link(ng-controller="logoutCtrl as ctrl" ng-click="ctrl.logout();") {{'Logout' | translate}}