include ../mixins/authForms

nav
    ul
        li.nav-item
            a.nav-link(href='/') Home
        if !currentUser
            li.nav-item(popup type="registration")
                popup-trigger.nav-item.nav-link Sign Up
                popup-content
                    .popup__content
                        +authForm("registration")
            li.nav-item(popup type="login")
                popup-trigger.nav-link Login
                popup-content
                    .popup__content
                        +authForm("login")
        else
            li.nav-item
                a.nav-link(href='/profile') My Profile
            li.nav-item
                a.nav-link(ng-controller="logoutCtrl as ctrl" ng-click="ctrl.logout();") Logout