ul.header__menu
    if !currentUser
        li.header-menu__item
            popup(type="registration")
                popup-trigger.header-menu__link {{'Sign Up' | translate}}
                popup-content
                    .popup__content
                        auth-form(form="registration" title="sign up")
        li.header-menu__item
            popup(type="login")
                popup-trigger.header-menu__link {{'Login' | translate}}
                popup-content
                    .popup__content
                        auth-form(form="login" title="login")
    else
        if currentUser.is_admin
            li.header-menu__item
                a.header-menu__link(href='/admin') {{'Admin' | translate}}
        li.header-menu__item
            a.header-menu__link(href='/profile') {{'Profile' | translate}}

        li.header-menu__item
            a.header-menu__link(ng-controller="logoutCtrl as ctrl" ng-click="ctrl.logout();") {{'Logout' | translate}}
