include ../mixins/formParts

div(popup type="New Advert")
    popup-trigger
        button New Advert
    popup-content
        form.form.popup__content(ng-controller="newAdvertCtrl as newAdvert" ng-submit="newAdvert.create();")
            +input("Name*")(ng-model="newAdvert.advert.name")
            +select("Type*", {
                "type" : {
                    "dog" : "Dog",
                    "cat" : "Cat",
                    "hamster" : "Hamster"
                }
            })(ng-model="newAdvert.advert.type")
            +radios("Gender*", {
                "gender" : {
                    "boy" : "Boy",
                    "girl" : "Girl"
                }
            })(ng-model="newAdvert.advert.gender")
            +input("Age*")(type="number" min=0 ng-model="newAdvert.advert.age")
            +input("Breed")(ng-model="newAdvert.advert.breed")
            +textarea("Info")(ng-model="newAdvert.advert.info")
            +button("Create")