form(novalidate ng-submit="ctrl.registration();")
    .registration__item
        label(for="registration__name") Name
        input(ng-model="registrationName" type="text", name="name" class="registration__input", id="registration__name")
    .item
        label(for="registration__email") Email
        input(ng-model="ctrl.registrationEmail" type="email", name="email" class="registration__input", id="registration__email")
    .item
        label(for="registration__password") Password
        input(ng-model="ctrl.registrationPassword" type="password", name="password" class="registration__input", id="registration__password")
    .item
        input(type="submit")