section.video-container
    video.video-container__media(autoplay loop)
        source(src="/assets/images/pigeon.mp4" type="video/mp4")
        source(src="/assets/images/pigeon.webm" type="video/webm")