include ../../views/mixins/formParts
section.video-container
    video.video-container__media(autoplay loop)
        source(src="/assets/images/pigeon.mp4" type="video/mp4")
        source(src="/assets/images/pigeon.webm" type="video/webm")
    .video-container__hero.hero
        .hero__title Every pet needs a home
        .hero__subtitle Unified service announcements about stray animals
        .hero__btn-wrap
            button.hero__button.button.button--blue(type="button") Hello
            button.hero__button.button.button--blue(type="button") Hello