section.video-container
    .video-container__inner(ng-parallax ratio="0.05")
        video.video-container__media(autoplay loop)
            source(src="/assets/images/video/dog.mp4" type="video/mp4")
            source(src="/assets/images/video/dog.webm" type="video/webm")
        hero.video-container__hero