@import "../../common/variables";

.video-container {
  position   : relative;
  width      : 100%;
  height     : 100vh;
  max-height : 768px;
  overflow   : hidden;
}

.video-container__inner {
  width  : 100%;
  height : 100%;
  &:after, &:before {
    content  : "";
    display  : block;
    position : absolute;
    top      : 0;
    left     : 0;
    width    : 100%;
    height   : 100%;
  }
  &:before {
    background : {
      image    : url("images/dog.jpg");
      size     : cover;
      position : 50% 50%;
    }
    z-index : 2;
  }
  &:after {
    background : {
      image    : url("images/pattern.png");
      repeat   : repeat;
    }
    z-index : 3;
  }
}

.video-container__hero {
  position        : absolute;
  width           : 100%;
  height          : 100%;
  display         : flex;
  flex-flow       : column nowrap;
  align-items     : center;
  justify-content : center;
  z-index         : 4;
}

.video-container__media {
  display   : none;
  left      : 50%;
  top       : 50%;
  position  : absolute;
  z-index   : 1;
  transform : translate(-50%, -50%);
  filter    : blur(5px);
}

@media screen and (min-width : 992px) {
  .video-container__inner {
    &:before {
      display : none;
    }
  }
  .video-container__media {
    display : block;
    height  : 100vmax;
  }
}

@media screen and (min-width : 1920px) {
  .video-container {
    max-height : 1080px;
  }
  .video-container__media {
    width  : 100%;
  }
}