@import "../../common/variables";

.video-container {
  margin-top : -$headerHeight;
  position   : relative;
  width      : 100%;
  height     : 500px;
  overflow   : hidden;
  &:after, &:before {
    content  : "";
    display  : block;
    position : absolute;
    top      : 0;
    left     : 0;
    width    : 100%;
    height   : 100%;
  }
  &:before {
    background : {
      image    : url("images/cat.png");
      size     : cover;
      position : 50% 50%;
    }
    z-index : 2;
  }
  &:after {
    background : {
      color    : rgba(0, 0, 0, 0.4);
    }
    z-index : 3;
  }
}

.video-container__hero {
  position        : absolute;
  width           : 100%;
  height          : 100%;
  display         : flex;
  flex-flow       : column nowrap;
  align-items     : center;
  justify-content : center;
  z-index         : 4;
}

.video-container__media {
  display   : none;
  width     : 100%;
  left      : 50%;
  top       : 50%;
  position  : absolute;
  z-index   : 1;
  transform : translate(-50%, -50%);
}

@media screen and (min-width : 992px) {
  .video-container {
    &:before {
      display : none;
    }
  }
  .video-container__media {
    display : block;
  }
}

@media screen and (min-width : 1200px) {
  .video-container {
    height : 600px;
  }
}