extends layout

block header
    include partials/_header

block content
    h1= title

    hr
    authors-list

    hr
    h3 Not Reviewed Adverts :
    feed(custom-filter="{'reviewed' : false}")

    hr
    h3 Adverts :
    feed(enable-filter="true")

block footer
    include partials/_footer