extends layout

block header
    include partials/_header

block content
    h2= title

    hr
    authors-list

    hr
    h3 Not Reviewed Pets :
    feed(custom-filter="{'reviewed' : false}")

    hr
    h3 Pets :
    feed(enable-filter="true")

block footer
    include partials/_footer