extends layout

block header
    include partials/_header

block content
    .main-content__container
        if currentUser && currentUser.is_admin
            advert-single.advert-single(advert-id=advert._id enable-edit="true" enable-review="true")
        else if currentUser && (advert.author.toString() == currentUser._id.toString())
            advert-single.advert-single(advert-id=advert._id enable-edit="true")
        else
            advert-single.advert-single(advert-id=advert._id)
block footer
    include partials/_footer