extends layout

block header
    include partials/_header

block content

    if author.blocked
        h1 (Blocked)

    if currentUser && currentUser.is_admin
        author(author-id=author._id edit="true" remove="true")
    else
        author(author-id=author._id)

    feed(author-id=author._id hide-fields="{author:true}" all-allowed="true")

    if currentUser && currentUser.is_admin
        if !author.blocked
            popup(type="Block : " + author._id)
                popup-trigger
                    button Block
                popup-content
                    .popup__content
                        author-block(author-id = author._id action="block")
        else
            popup(type="Unblock : " + author._id)
                popup-trigger
                    button Unblock
                popup-content
                    .popup__content
                        author-block(author-id = author._id action="unblock")

block footer
    include partials/_footer