extends layout

block header
    include partials/_header

block content
    author(author-id=author._id)

    feed(author-id=author._id hide-fields="{author:true}")

block footer
    include partials/_footer