extends layout

block header
    include partials/_header
    include partials/_section-hero

block content
    .main-content__shifted
        feed(enable-filter="true" all-allowed="false")

block footer
    include partials/_footer