extends layout

block header
    include partials/_header

block content
    include partials/_section-video

    feed(enable-filter="true" all-allowed="false")

block footer
    include partials/_footer