extends layout

block header
    include partials/_header

block content
    .main-content__container
        if currentUser && currentUser.is_admin
            pet-single.pet-single(pet-id=pet._id enable-edit="true" enable-review="true")
        else if currentUser && (pet.author.toString() == currentUser._id.toString())
            pet-single.pet-single(pet-id=pet._id enable-edit="true")
        else
            pet-single.pet-single(pet-id=pet._id)
block footer
    include partials/_footer