extends layout

block header
    include partials/_header

block content
    h1 PROFILE

    div(author=currentUser._id edit="true" remove="true")

    popup(type="New Advert")
        popup-trigger
            button New Advert
        popup-content
            .popup__content
                advert-create

    feed(user-id=currentUser._id hide-fields="{author:true, publicationDate:true}")

block footer
    include partials/_footer