extends layout

block header
    include partials/_navbar

block content
    h1 PROFILE

    div(advertiser=currentUser._id edit="true")

    include partials/_new-advert-form

    div(advertiser=currentUser._id remove="true")


    if currentUser
        div(adverts-feed=currentUser._id)

block footer
    include partials/_footer