extends layout

block header
    include partials/_navbar

block content
    h1 PROFILE
    h1= currentUser.contactInfo.email

    include partials/_new-advert-form
    include partials/_form-profile-settings
    include partials/_remove-advertiser

    if currentUser
        div(adverts-feed=currentUser._id)

block footer
    include partials/_footer