extends layout

block header
    include partials/_header

block content
    h1 PROFILE

    author(author-id=currentUser._id edit="true" remove="true")

    popup(type="New Advert")
        popup-trigger
            button New Advert
        popup-content
            .popup__content
                advert-create

    feed(author-id=currentUser._id hide-fields="{author:true, publicationDate:true}" all-allowed="true")

block footer
    include partials/_footer