extends layout

block header
    include partials/_navbar

block content
    h1 PROFILE
    if currentUser
        h1= currentUser.contactInfo.email
    include partials/_new-advert-form

block footer
    include partials/_footer