extends layout

block header
    include partials/_navbar

block content
    h1 PROFILE

    div(author=currentUser._id edit="true" remove="true")

    include partials/_new-advert-form

    feed(user-id=currentUser._id hide-fields="{author:true, publicationDate:true}")

block footer
    include partials/_footer