extends layout
include mixins/buttons

block header
    include partials/_header

block content
    .main-content__container
        .heading
            if !currentUser.blocked
                .heading__item
                    h1 PROFILE
                .heading__item(popup-trigger="new advert")
                    +btn-default('New Advert').button--green.button--green.button--standard_hover
                    .btn-round.btn-round--left.btn-round--double.author__btn--hidden_lg(title="{{'New Advert' | translate}}")
                        i.fa.fa-plus(aria-hidden="true")
                        i.fa.fa-file(aria-hidden="true")
            else
                .heading__item
                    h1 PROFILE (Blocked)

        author.author(author-id=currentUser._id edit="true" remove="true")

    feed(author-id=currentUser._id hide-fields="{author:true}" enable-filter="true" all-allowed="true")

    popup-content(initial="new advert")
block footer
    include partials/_footer