.author {
  @include roboto-regular;
  color : $gray;
}

.author__block {
  position        : relative;
  display         : flex;
  flex-flow       : column nowrap;
  justify-content : center;
  align-items     : flex-start;
  padding         : 1rem;
  border          : 1px solid $lightGray;
  border-radius   : 3px;
  margin-bottom   : 40px;
}

.author__field {
  display       : flex;
  align-items   : center;
  margin-bottom : 5px;
  &:last-child {
    margin-bottom : 0;
  }
}

.author__status-icon {
  display         : inline-flex;
  width           : 15px;
  height          : 15px;
  align-items     : center;
  justify-content : center;
  border-radius   : 3px;
  border          : 1px solid #d3d3d3;
  margin-left     : 5px;
  font-size       : 0.7em;
  color           : white;
  &.success {
    border-color     : $green;
    background-color : $green;
    font-size        : 0.6em;
  }
  &.fail {
    border-color     : $red;
    background-color : $red;
  }
}

.author__title {
  margin-bottom : 15px;
  font-size     : 1.4em;
}

.author__avatar {
  margin-right  : 20px;
  width         : 80px;
  height        : 80px;
  border-radius : 50%;
  overflow      : hidden;
  background : {
    image    : url("images/profile.svg");
    position : {
      x      : 50%;
      y      : 50%;
    }
    size     : 80px;
  }
}

.author__btn {
  display         : flex;
  justify-content : flex-start;
  flex            : 1 auto;
  margin-top      : 15px;
  .author__btn--hidden_sm {
    display : none;
  }
}

@media screen and (min-width : 700px) {
  .author__block {
    align-items     : flex-start;
    flex-flow       : row wrap;
    justify-content : flex-start;
    padding         : 2rem;
    border-width    : 2px;
  }

  .author__inner {
    flex : 1 30%;
  }

  .author__btn {
    justify-content : flex-end;
    margin          : 0;
    .author__btn--hidden_sm {
      display : flex;
    }
  }
}

@media screen and (min-width : 1024px) {

  .author__btn--hidden_lg {
    display : none !important;
  }

}

@media screen and (min-width : 1280px) {

  .author {
    display         : flex;
    flex-flow       : row wrap;
    justify-content : space-between;
  }

  .author__block {
    flex   : 1 0;
    margin : 0 20px 40px;
    &:nth-of-type(1) {
      margin-left : 0;
    }
    &:nth-of-type(2) {
      margin-right : 0;
    }
  }

}

