@import "../../common/_variables";
.main-content {
  padding-top : $headerHeight;
  max-width   : $maxContainerWidth;
  margin      : 0 auto;
}

.main-content__container {
  padding : 0 $mainContentPaddingSm;
}

@media screen and (min-width : 1024px) {
  .main-content__container {
    padding : 0 $mainContentPaddingLg;
  }
}