@import "../../common/mixins";
@import "../../common/variables";

$innerHeightSm : 355px;
$innerHeightMd : 240px;
$filterHeight : 37px;

.search {
  position      : relative;
  display       : block;
  margin-bottom : 25px;
}

.search__results {
  position   : absolute;
  width      : 100%;
  top        : 100%;
  left       : 0;
  padding    : 0 10px;
  border     : 1px solid $lightGray;
  visibility : hidden;
  overflow   : hidden;
  background : white;
  z-index    : 6;
  transition : height 0.3s;
  &.active {
    visibility : visible;
    max-height : 152px;
    overflow   : auto;
  }
}

.search__item {
  display         : flex;
  flex-flow       : column wrap;
  width           : 100%;
  height          : 50px;
  align-items     : flex-start;
  justify-content : center;
  border-bottom   : 1px solid $lightGray;
  color           : $blue;
  &:last-child {
    border-bottom : none;
  }
}

.search__item-icon {
  width         : 40px;
  height        : 40px;
  border-radius : 3px;
  background : {
    color    : $generalGray;
    position : center;
    repeat   : no-repeat;
  }
}

.search__item-title {
  width       : calc(100% - 50px);
  font-size   : 0.9em;
  white-space : nowrap;
  overflow    : hidden;
}

.search__item-name {
  width       : calc(100% - 50px);
  color       : $gray;
  font-size   : 0.8em;
  white-space : nowrap;
  overflow    : hidden;
}

.search__field {
  width    : 100%;
  position : relative;
  input {
    @include input;
    padding-left : 50px;
    &.disabled {
      color : transparent;
    }
  }
  i {
    width      : 50px;
    top        : 50%;
    text-align : center;
    position   : absolute;
    transform  : translateY(-50%);
    font-size  : 1em;
    color      : $metallicGray;
    transition : color 0.3s;
  }
  &:hover {
    i {
      color : lightgrey;
    }
  }
}

@media screen and (min-width : 700px) {
  .search__results {
    &.active {
      max-height : 252px;
    }
  }
}

@media screen and (min-width : 850px) {
  .search {
    margin : 25px 0;
  }

  .search__results {
    &.active {
      max-height : 352px;
    }
  }
}

@media screen and (min-width : 1400px) {
  .search {
    margin : 25px 0;
  }

  .search__results {
    &.active {
      max-height : 552px;
    }
  }
}