.lightbox {
  position         : fixed;
  width            : 100%;
  height           : 100%;
  background-color : transparent;
  top              : 0;
  left             : 0;
  z-index          : 150;
  visibility       : hidden;
  transition       : background-color 0.2s;

  .lightbox__inner {
    position        : absolute;
    top             : 0;
    width           : 100%;
    height          : 100%;
    left            : -100%;
    transition      : left 0.15s 0.2s;
    display         : flex;
    justify-content : center;
    align-items     : center;
    cursor          : pointer;
  }

  &.open {
    visibility       : visible;
    background-color : rgba(0, 0, 0, 0.8);

    .lightbox__inner {
      left : 0;
    }
  }
}

.lightbox__button {
  position        : absolute;
  width           : 50px;
  height          : 50px;
  display         : flex;
  justify-content : center;
  align-items     : center;
  color           : white;
  font-size       : 4em;
  opacity         : 0.7;
}

.lightbox__button--close {
  right     : 20px;
  top       : 20px;
  font-size : 2em;
}

.lightbox__button--next {
  opacity   : 0.7;

  right     : 20px;
  top       : 50%;
  transform : translateY(-50%);
}

.lightbox__button--previous {
  opacity   : 0.8;
  left      : 20px;
  top       : 50%;
  transform : translateY(-50%);
}

.lightbox__current-image {
  max-width  : 90%;
  max-height : 90%;
}

.lightbox-trigger {
  position : relative;
}

.lightbox-trigger__inner {
  position        : absolute;
  display         : flex;
  justify-content : center;
  align-items     : center;
  width           : 100%;
  height          : 100%;
  color           : white;
  font-size       : 2em;
  opacity         : 0.2;
  cursor          : pointer;
  transition      : opacity 0.2s, font-size 0.2s;

  &:hover {
    font-size : 4em;
    opacity   : 0.8;
  }
}