.burger-button {
  width      : 30px;
  height     : 30px;
  position   : absolute;
  top        : 50%;
  right      : 10px;
  margin-top : -15px;
  cursor     : pointer;
  z-index    : 4;
}

.burger-button__burger {
  display          : inline-block;
  position         : absolute;
  right            : 0;
  top              : 10%;
  height           : 1px;
  width            : 100%;
  background-color : $metallicGray;
  transition       : 0.56s cubic-bezier(0.52, 0.01, 0.16, 1);
  transform-origin : 100% 0;
  &:nth-of-type(1) {
    transition-delay : 0.12s;
  }
  &:nth-of-type(2) {
    transition-delay : 0.24s;
    width            : 70%;
    top              : 50%;
  }
  &:nth-of-type(3) {
    transition-delay : 0.36s;
    top              : 90%;
  }
}

.burger-button__cross {
  display  : inline-block;
  position : absolute;
  height   : 1px;
  width    : 100%;
  top      : 50%;
  &:before {
    content          : "";
    display          : inline-block;
    position         : absolute;
    left             : 0;
    width            : 100%;
    height           : 100%;
    background-color : $metallicGray;
    transform-origin : 0 0;
    transform        : scaleX(0);
    transition       : all 0.3s ease-in;
  }
  &:nth-of-type(1) {
    transform : rotateZ(-45deg);
    &:before {
      transition-delay : 0.18s;
    }
  }
  &:nth-of-type(2) {
    transform : rotateZ(45deg);
    &:before {
      transition-delay : 0.26s;
    }
  }
}

.open {
  .burger-button__burger {
    width : 0;
  }
  .burger-button__cross {
    &:before {
      transform : scaleX(1);
    }
  }
}