@import "../../common/variables";

@mixin input {
  @include roboto-condensed;
  width         : 100%;
  border        : 1px solid #e1e6f0;
  color         : $metallicGray;
  border-radius : 3px;
  font-size     : 0.8em;
  background    : $white;
  padding       : 10px 7px 10px 10px;
  &:focus {
    border  : 1px solid $blue;
    outline : none;
  }
  &.ng-invalid.ng-touched {
    border : 1px solid $red;
  }
}

@keyframes load {
  0% {
    left  : 0;
    width : 0;
  }
  25% {
    left  : 0;
    width : 100%;
  }
  50% {
    left  : 100%;
    width : 0;
  }
  75% {
    left  : 0;
    width : 100%;
  }
  100% {
    left  : 0;
    width : 0;
  }
}

@keyframes finish {
  0% {
    height        : 7px;
    margin-bottom : 0;
  }
  100% {
    height        : 0;
    margin-bottom : 7px;
  }
}

@keyframes error {
  0%, 100% {
    left : 0;
  }
  10%, 30%, 50%, 70%, 90% {
    left : -5px;
  }
  20%, 40%, 60%, 80% {
    left : 5px;
  }
}

.form {
  text-align    : left;
  margin-bottom : 0;
}

.form__item {
  margin-bottom : 15px;
}

.form__item--btn {
  display       : inline-block;
  width         : 100%;
  margin-bottom : 0;
}

.form__input {
  @include input;
}

.form__textarea {
  @include input;
  resize     : vertical;
  min-height : 6em;
  max-height : 15em;
}

.form__select {
  @include input;
  padding : 10px 7px;
}

.form__radio {
  display : none;
  &:checked {
    & + .form__label--radio {
      span {
        color : $blue;
      }
      .form__radio-btn {
        border : 2px solid $blue;
        &:before {
          transform : scale(1);
        }
      }
    }
  }
}

.form__radio-wrap {
  display         : flex;
  flex-flow       : row wrap;
  justify-content : flex-start;
  align-items     : center;
}

.form__label {
  display : block;
}

.form__label--radio {
  display         : flex;
  justify-content : center;
  align-items     : center;
  margin          : 10px 15px 10px 0;
  span {
    @include roboto-condensed;
    font-size   : 0.8em;
    margin-left : 5px;
    color       : $metallicGray;
    transition  : color .2s;
  }

}

.form__radio-btn {
  position        : relative;
  display         : flex;
  justify-content : center;
  align-items     : center;
  width           : 25px;
  height          : 25px;
  border-radius   : 100%;
  border          : 2px solid $metallicGray;
  cursor          : pointer;
  transition      : border .2s;
  &:before {
    content          : "";
    display          : inline-block;
    width            : 50%;
    height           : 50%;
    border-radius    : 100%;
    background-color : $blue;
    transform        : scale(0);
    transition       : transform .2s;
  }
}

.form__title {
  font-size      : 0.8em;
  color          : $blue;
  margin-bottom  : 5px;
  text-transform : capitalize;
}

.form__btn-wrap {
  margin-top : 15px;
  display    : inline-block;
  width      : 100%;
}

.form__progress-bar {
  position         : relative;
  width            : 100%;
  height           : 0;
  margin-bottom    : 7px;
  transition       : height 0.2s, margin-bottom 0.2s;
  background-color : darken($blue, 10%);
  &:before {
    content          : "";
    position         : absolute;
    width            : 0;
    height           : 100%;
    background-color : darken($blue, 20%);
  }
}

.valid {
  & + .form__progress-bar {
    height        : 7px;
    margin-bottom : 0;
    &:before {
      animation : load 2s infinite ease-in-out;
    }
  }
}

.success, .fail {
  & + .form__progress-bar {
    animation : finish 0.2s forwards;
  }
}

.form__btn {
  position         : relative;
  padding          : 10px;
  overflow         : hidden;
  z-index          : 2;
  width            : 100%;
  height           : 45px;
  background-color : $blue;
  border           : 1px solid $blue;
  cursor           : pointer;
  color            : $white;
  text-transform   : uppercase;
  &:hover {
    .form__btn-icon {
      left : 0;
    }
    .form__btn-title {
      left : 100%;
    }
  }
  &.error {
    animation : error 0.5s forwards;
    .form__btn-icon {
      &:before {
        content : "\f00d";
      }
    }
  }
  &.valid {
    .form__btn-icon {
      left : 0;
    }
    .form__btn-title {
      left : 100%;
    }
  }
  &.success {
    .form__btn-icon {
      &:before {
        transition : content 0.2s;
        content    : "\f00c";
      }
    }
  }
  &.fail {
    .form__btn-icon {
      &:before {
        transition : content 0.2s;
        content    : "\f00d";
      }
    }
  }
}

.form__btn--cancel {
  background-color : $red !important;
  border           : 1px solid $red;
  .form__btn-icon {
    &:before {
      content : "\f00d";
    }
  }
}

.form__btn-icon {
  font                    : normal normal normal 14px/1 FontAwesome;
  text-rendering          : auto;
  -webkit-font-smoothing  : antialiased;
  -moz-osx-font-smoothing : grayscale;
  position                : absolute;
  display                 : flex;
  flex-flow               : row nowrap;
  justify-content         : center;
  align-items             : center;
  z-index                 : 1;
  width                   : 100%;
  height                  : 100%;
  font-size               : 1.3em;
  top                     : 0;
  left                    : -100%;
  transition              : left 0.3s;
  &:before {
    content : "\f0e0";
  }
}

.form__btn-title {
  display    : inline-block;
  position   : relative;
  left       : 0;
  @include roboto-regular;
  color      : $white;
  transition : left 0.3s;
}

@media screen and (min-width : 500px) {
  .form__item--btn {
    display         : flex;
    flex-flow       : row nowrap;
    justify-content : space-between;
    align-items     : center;
    margin-bottom   : 15px;
  }
  .form__btn {
    width : 150px;
  }

  .form__btn-wrap {
    width : auto;
  }
}