@import "../../common/variables";

@keyframes load {
  0% {
    width : 0;
  }
  20% {
    width : 0;
  }
  25% {
    width : 10%;
  }
  50% {
    width : 30%;
  }
  75% {
    width : 40%
  }
  100% {
    width   : 100%;
    display : none;
  }
}

@keyframes error {
  0%, 100% {
    left : 0;
  }
  10%, 30%, 50%, 70%, 90% {
    left : -5px;
  }
  20%, 40%, 60%, 80% {
    left : 5px;
  }
}

.form {
  text-align : left;
}

.form__item {
  margin-bottom : 15px;
}

.form__input {
  @include roboto-condensed;
  width         : 100%;
  border        : 1px solid #e1e6f0;
  color         : $metallicGray;
  border-radius : 3px;
  font-size     : 0.8em;
  background    : $white;
  padding       : 10px 7px 10px 10px;
  &:focus {
    border  : 1px solid $blue;
    outline : none;
  }
  &.ng-invalid.ng-touched {
    border : 1px solid $red;
  }
}

.form__label {
  display : block;
}

.form__title {
  font-size     : 0.8em;
  color         : $blue;
  margin-bottom : 5px;
}

.form__btn-wrap {
  margin-top : 15px;
  display    : inline-block;
}

.form__progress-bar {
  position         : relative;
  width            : 100%;
  height           : 0;
  transition       : height 0.2s;
  background-color : darken($blue, 5%);
  &:before {
    content          : "";
    position         : absolute;
    width            : 0;
    height           : 100%;
    background-color : darken($blue, 10%);
  }
  &.active {
    height : 7px;
    &:before {
      width     : 100%;
      animation : load 3s;
    }
  }
}

.form__btn {
  position         : relative;
  padding          : 10px;
  overflow         : hidden;
  z-index          : 2;
  width            : 150px;
  height           : 45px;
  background-color : $blue;
  border           : 1px solid $blue;
  cursor           : pointer;
  color            : $white;
  text-transform   : uppercase;
  span {
    display    : inline-block;
    @include roboto-regular;
    color      : $white;
    transition : all 0.3s;
  }
  &.error {
    animation : error 0.5s;
  }
  &:before {
    content     : "";
    position    : absolute;
    z-index     : 1;
    width       : 100%;
    height      : 100%;
    line-height : 40px;
    font-size   : 1.3em;
    top         : 0;
    left        : -100%;
    transition  : left 0.3s;
  }
  &:hover {
    &:before {
      left : 0;
    }
    span {
      transform : translateX(150px);
    }
  }
}