include _form-parts
mixin authForm(form)
    if form == "registration"
        -var controller = "registrationCtrl as auth"
        -var method = "auth.registration();"
        -var title = "sign up"
    else if form == "login"
        -var controller = "loginCtrl as auth"
        -var method = "auth.login();"
        -var title = "login"

    form.form(novalidate ng-controller=controller ng-submit=method name=form + "Form")
        +input("Email")(name="email" ng-required="true" ng-model="auth.email" ng-change="auth.error=false;" ng-focus="auth.error=false;" ng-pattern="auth.emailRegex" type="email" autocomplete="off")
        +input("Password")(name="password" ng-required="true" ng-model="auth.password" ng-change="auth.error=false;" ng-focus="auth.error=false;" ng-pattern="auth.passwordRegex" type="password" autocomplete="off")
        +button(title)(ng-click="auth.checkForm();" ng-class="auth.validClass")
