mixin authForm(form)
    if form == "registration"
        -var controller = "registrationCtrl as ctrl"
        -var method = "ctrl.registration();"
        -var title = "sign up"
    else if form == "login"
        -var controller = "loginCtrl as ctrl"
        -var method = "ctrl.login();"
        -var title = "login"

    form.form(ng-controller=controller ng-submit=method)
        .form__item
            label.form__label
                div.form__title Email
                input.form__input(ng-model="ctrl.email" type="email", name="email" class="auth__input")
        .form__item
            label.form__label
                div.form__title Password
            input.form__input(ng-model="ctrl.password" type="password", name="password" class="auth__input")
        .form__item
            input.form__btn(type="submit" value=title)
