include _form-parts
mixin authForm(form)
    if form == "registration"
        -var controller = "registrationCtrl as ctrl"
        -var method = "ctrl.registration();"
        -var title = "sign up"
    else if form == "login"
        -var controller = "loginCtrl as ctrl"
        -var method = "ctrl.login();"
        -var title = "login"

    form.form(novalidate ng-controller=controller ng-submit=method name="authForm")
        +input("Email")(ng-model="ctrl.email" ng-change="popup.error=false;" ng-focus="popup.error=false;" type="email" autocomplete="off")
        +input("Password")(ng-model="ctrl.password" ng-change="popup.error=false;" ng-focus="popup.error=false;" type="password" autocomplete="off")
        +button(title)(ng-click="popup.error = authForm.$invalid" ng-class="{error: popup.error}")
