mixin btn-default(label)
    button.button&attributes(attributes)
        span.button__title {{'#{label}' | translate}}

mixin btn-more(label)
    a.button&attributes(attributes)
        span.button__title {{'#{label}' | translate}}
