.lang {
  background-color : white;
}

.lang__trigger {
  border     : 1px solid transparent;
  padding    : 5px 0;
  background : white;

  &.active {
    border-color : $blue;
  }
}

.lang__btn {
  padding         : 0 15px;
  position        : relative;
  width           : auto;
  height          : 40px;
  display         : flex;
  flex-flow       : row nowrap;
  justify-content : flex-end;
  align-items     : center;
  text-transform  : capitalize;
  cursor          : pointer;
  transition      : background-color .2s;
  .lang__btn-icon {
    display     : inline-block;
    margin-left : 10px;
    width       : 30px;
    height      : 20px;
    background   : {
      image      : url("images/flag-language-sprite.png");
      color      : transparent;
      position-x : 0;
      repeat     : no-repeat;
    }
  }
  &:hover {
    background-color : $whiteSmoke;
  }
}

.lang__btn--dropdown {
  position : relative;
  &:after {
    position         : absolute;
    left             : 0;
    top              : 0;
    height           : 1px;
    width            : 0;
    background-color : $blue;
    transition       : width .2s;
    content          : "";
  }
  &:before {
    right            : 0;
    bottom           : 0;
    position         : absolute;
    height           : 1px;
    width            : 0;
    background-color : $blue;
    transition       : width .2s;
    content          : "";
  }
  &:hover {
    &:before, &:after {
      width      : 100%;
      transition : width .2s 0.3s;
    }
  }
}

.lang__btn-icon--ru {
  background   : {
    position-y : -360px;
  }
}

.lang__btn-icon--en {
  background   : {
    position-y : -440px;
  }
}

.lang__btn-icon--ua {
  background   : {
    position-y : -660px;
  }
}