.lang__trigger {
  perspective : 900px;
}

.header__menu--mobile {
  .header__menu-item {
    overflow   : hidden;
    transition : height 0.1s, margin 0.1s;

    &.hidden {
      height : 0;
      margin : 0;
    }
  }
  .header__menu-item--lang {
    overflow : visible;
    .lang__trigger {
      transition : transform 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
    }
    &.active {
      .lang__trigger {
        transform : translateY(-50%);
      }
    }
  }
  .lang__trigger {
    perspective : none;
  }
  .lang {
    visibility : visible;
    background : none;
    overflow   : hidden;
    transform  : none;
    &.open {
      .lang__btn--dropdown {
        left : 0;
      }
    }
  }
  .lang__btn--dropdown {
    font-size  : 0.9em;
    left       : 100%;
    transition : all .3s cubic-bezier(0.65, 0.05, 0.36, 1);
    @for $i from 1 to 4 {
      &:nth-of-type(#{$i}) {
        transition-delay : $i * .1s;
      }
    }
  }
}

.lang {
  background-color : rgba(0, 0, 0, 0.7);
  margin-top       : 10px;
  transform-origin : top center;
  visibility       : hidden;
  transform        : rotateX(-70deg);
  transition       : transform 0.2s ease-in, visibility 0.2s;
  &.open {
    transform  : rotateX(0deg);
    visibility : visible;
  }
}

.lang__btn {
  padding         : 0 15px;
  position        : relative;
  width           : auto;
  height          : 40px;
  display         : flex;
  flex-flow       : row nowrap;
  justify-content : flex-end;
  align-items     : center;
  text-transform  : capitalize;
  cursor          : pointer;
  transition      : background-color .2s;
  .lang__btn-icon {
    display     : inline-block;
    margin-left : 10px;
    width       : 30px;
    height      : 20px;
    background   : {
      image      : url("images/flag-language-sprite.png");
      color      : transparent;
      position-x : 0;
      repeat     : no-repeat;
    }
  }
}

.lang__btn--dropdown {
  position : relative;
  &:after {
    position         : absolute;
    left             : 0;
    top              : 0;
    height           : 1px;
    width            : 0;
    background-color : white;
    transition       : width .2s;
    content          : "";
  }
  &:before {
    right            : 0;
    bottom           : 0;
    position         : absolute;
    height           : 1px;
    width            : 0;
    background-color : white;
    transition       : width .2s;
    content          : "";
  }
  &:hover {
    &:before, &:after {
      width      : 100%;
      transition : width .2s 0.3s;
    }
  }
}

.lang__btn-icon--ru {
  background   : {
    position-y : -360px;
  }
}

.lang__btn-icon--en {
  background   : {
    position-y : -440px;
  }
}

.lang__btn-icon--ua {
  background   : {
    position-y : -660px;
  }
}