@import "../../common/variables";

.advert {
  border-radius : 3px 3px 0 0;
  overflow      : hidden;
  position      : relative;
  width         : 100%;
  display       : flex;
  flex-flow     : column wrap;
  align-items   : stretch;
  margin        : 0 5px 30px;
  max-width     : 500px;
}

.advert__head {
  position    : relative;
  padding-top : 60%;
}

.advert__content {
  border     : 1px solid lightgray;
  border-top : none;
  padding    : 5px 10px;
}

.advert__field {
  display         : flex;
  justify-content : space-between;
  padding         : 10px 5px;
  font-size       : 1.1em;
  border-bottom   : 1px solid lightGray;
}

.advert__field:last-child {
  border-bottom : none;
}

.advert__field--title {
  padding         : 10px 10px;
  position        : absolute;
  top             : 0;
  left            : 0;
  width           : 100%;
  justify-content : center;
  border-bottom   : none;
  color           : white;
  background      : rgba(0, 0, 0, .5);
  z-index         : 2;
}

.advert__field--image {
  position      : absolute;
  border-bottom : none;
  height        : 100%;
  width         : 100%;
  padding       : 0;
  top           : 0;
  left          : 0;
  z-index       : 0;
  border-bottom : none;
  a {
    width  : 100%;
    height : 100%;
  }
}

.advert__field--time {
  position      : absolute;
  right         : 0;
  bottom        : 10px;
  border-bottom : none;
  background    : rgba(0, 0, 0, .5);
  color         : white;
  padding       : 5px;
}

.advert__field--date {
  position      : absolute;
  left          : 0;
  bottom        : 10px;
  border-bottom : none;
  background    : rgba(0, 0, 0, .5);
  color         : white;
  padding       : 5px;
}

.advert__field--info {
  flex-direction  : column;
  justify-content : flex-start;
  height          : 150px;
  padding-bottom  : 45px;

  .advert__field-content {
    font-size : 0.9em;
  }
}

.advert__field-name {
  text-transform : capitalize;
  color          : rgb(97, 95, 95);
}

.advert__field-name--small {
  font-size     : 0.8em;
  margin-bottom : 5px;

}

@media (min-width : 700px) {
  .advert {
    width : 49%;
  }
}

@media (min-width : 900px) {
  .advert {
    width : 32%;
  }
}

@media (min-width : 1400px) {
  .advert {
    width : 24%;
  }
}

@media (min-width : 1700px) {
  .advert {
    width     : 19%;
    max-width : 400px;
  }
}