@import "variables";

body {
  margin      : 0;
  padding     : 0;
  font-family : Lato, sans-serif;
  font-size   : 16px;
}

* {
  box-sizing : border-box;
}

button {
  cursor : pointer;
  &:focus {
    outline : none;
  }
}

a {
  text-decoration : none;
  cursor          : pointer;
  &:hover &:focus, &:visited {
    text-decoration : none;
    outline         : none;
  }
  &:visited {
    color : inherit;
  }
}

ul {
  margin     : 0;
  padding    : 0;
  list-style : none;
}

.main-content {
  padding-top : $headerHeight;
}