@import "variables";
@import "typography";

@mixin button($width: auto, $height: 45px) {
  display         : inline-flex;
  justify-content : center;
  align-items     : center;
  padding         : 0 10px;
  width           : $width;
  min-width       : 150px;
  height          : $height;
  border          : 1px solid transparent;
  background      : transparent;
  overflow        : hidden;
  cursor          : pointer;
  color           : white;
  text-transform  : uppercase;
  text-align      : center;
}

@mixin input {
  @include roboto-condensed;
  width         : 100%;
  height        : 37px;
  border        : 1px solid #e1e6f0;
  color         : $metallicGray;
  border-radius : 3px;
  font-size     : 0.8em;
  background    : $white;
  padding       : 10px 7px 10px 10px;
  &:focus {
    border  : 1px solid $blue;
    outline : none;
  }
  &.ng-invalid.ng-touched {
    border : 1px solid $red;
  }
}

@mixin invertBgHover($color) {
  @include roboto-regular;
  transition : color 0.2s, background 0.2s;
  &:hover {
    background : white !important;
    color      : $color;
    .button__title {
      color : $color;
    }
  }
}

@mixin standardBgHover($color) {
  @include roboto-regular;
  transition : background 0.2s;
  &:hover {
    background : $color !important;
  }
}

@mixin buttonTransparent($color) {
  @include roboto-regular;
  background-color : transparent !important;
  color            : $color !important;
  border-color     : $color !important;
  transition       : color 0.2s, background 0.2s;
  .button__title {
    color : $color !important;
  }
  &:hover {
    background-color : $color !important;
    color            : white !important;
    .button__title {
      color : white !important;
    }
  }
}

@mixin underlineHover($color, $bottomOffset: 0px) {
  &:after {
    content    : "";
    display    : block;
    position   : absolute;
    bottom     : $bottomOffset;
    left       : 0;
    background : $color;
    width      : 0;
    height     : 1px;
    transition : width 0.2s cubic-bezier(0.29, 1.14, 0.72, 0.73);
  }
  &:hover {
    &:after {
      width : 100%;
    }
  }
}