@import "variables";
@import "typography";

@mixin button($width: auto, $height: 45px) {
  display        : inline-block;
  padding        : 10px;
  width          : $width;
  min-width      : 150px;
  height         : $height;
  border         : 1px solid transparent;
  background     : transparent;
  overflow       : hidden;
  cursor         : pointer;
  color          : white;
  text-transform : uppercase;
  text-align     : center;
}

@mixin input {
  @include roboto-condensed;
  width         : 100%;
  border        : 1px solid #e1e6f0;
  color         : $metallicGray;
  border-radius : 3px;
  font-size     : 0.8em;
  background    : $white;
  padding       : 10px 7px 10px 10px;
  &:focus {
    border  : 1px solid $blue;
    outline : none;
  }
  &.ng-invalid.ng-touched {
    border : 1px solid $red;
  }
}