@font-face {
  font-family    : 'Lato';
  src            : url('fonts/Lato-Regular.eot');
  src            : url('fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
  url('fonts/Lato-Regular.woff2') format('woff2'),
  url('fonts/Lato-Regular.woff') format('woff'),
  url('fonts/Lato-Regular.ttf') format('truetype');
  font-style     : normal;
  font-weight    : normal;
  text-rendering : optimizeLegibility;
}

@font-face {
  font-family    : 'Roboto Regular';
  src            : url('fonts/Roboto-Regular.ttf') format('truetype');
  font-style     : normal;
  font-weight    : normal;
  text-rendering : optimizeLegibility;
}

@font-face {
  font-family    : 'Roboto Condensed';
  src            : url('fonts/Roboto-Condensed.ttf') format('truetype');
  font-style     : normal;
  font-weight    : normal;
  text-rendering : optimizeLegibility;
}

@font-face {
  font-family : 'fontello';
  src         : url('fonts/fontello.eot?28175818');
  src         : url('fonts/fontello.eot?28175818#iefix') format('embedded-opentype'),
  url('fonts/fontello.woff2?28175818') format('woff2'),
  url('fonts/fontello.woff?28175818') format('woff'),
  url('fonts/fontello.ttf?28175818') format('truetype'),
  url('fonts/fontello.svg?28175818#fontello') format('svg');
  font-weight : normal;
  font-style  : normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family             : "fontello", sans-serif;
  font-style              : normal;
  font-weight             : normal;
  speak                   : none;
  display                 : inline-block;
  text-decoration         : inherit;
  width                   : 1em;
  margin-right            : .2em;
  text-align              : center;
  font-variant            : normal;
  text-transform          : none;
  line-height             : 1em;
  margin-left             : .2em;
  -webkit-font-smoothing  : antialiased;
  -moz-osx-font-smoothing : grayscale;
}

.icon-mail:before {
  content : '\e800';
}

.icon-cancel:before {
  content : '\e801';
}

.icon-plus:before {
  content : '\e802';
}

.icon-camera:before {
  content : '\e803';
}

.icon-pencil:before {
  content : '\e804';
}

.icon-trash:before {
  content : '\e805';
}

.icon-check:before {
  content : '\e806';
}

.icon-search:before {
  content : '\e807';
}

.icon-zoom:before {
  content : '\e808';
}

.icon-arrow--right:before {
  content : '\f006';
}

.icon-arrow--left:before {
  content : '\f007';
}

.icon-facebook:before {
  content : '\f09a';
}

.icon-file:before {
  content : '\f15b';
}

.icon-vk:before {
  content : '\f189';
}

@mixin regular-font() {
  font-family : Lato, sans-serif;
  font-weight : normal;
}

@mixin roboto-regular() {
  font-family : "Roboto Regular", sans-serif;
  font-weight : 600;
}

@mixin roboto-condensed() {
  font-family : "Roboto Condensed", sans-serif;
  font-weight : 400;
}