$white : #fff;
$gray : #666;
$generalGray : #c6c5c5;
$lightGray: lightgray;
$metallicGray : #8791a4;
$whiteSmoke : #f4f5f7;
$blue : #1385c7;
$transparentBlue : rgba(19, 133, 199, 0.6);
$red : orangered;
$transparentRed : rgba(255, 69, 0, 0.6);
$green : green;
$fontColor : #41424e;
$metallicBlue : #2a2a31;
$headerHeight : 60px;
$maxContainerWidth : 2600px;
$mainContentPaddingSm : 10px;
$mainContentPaddingLg : 50px;
