@import "../../common/mixins";

pagination {
  display : block;
}

.pagination {
  width           : 100%;
  display         : flex;
  flex-flow       : row wrap;
  justify-content : flex-start;
  align-items     : center;
  margin          : 25px 0 25px;
}

.pagination__filter {
  width : 100%;
}

.pagination__filter-item {
  width        : 75px;
  display      : inline-block;
  margin-right : 10px;
}

.pagination__filter-count {
  display   : inline-block;
  color     : $gray;
  @include roboto-condensed;
  font-size : 0.8em;
}

.pagination__inner {
  margin    : 0 10px;
  display   : inline-block;
  color     : $gray;
  @include roboto-condensed;
  font-size : 0.8em;
}

.pagination__btn {
  @include button(35px, 35px);
  min-width : 35px;
  &.disabled {
    background   : $lightGray !important;
    border-color : $lightGray !important;
    &:hover {
      background   : $lightGray !important;
      border-color : $lightGray !important;
    }
  }
}

.pagination__page {
  @include input;
  width      : 35px;
  height     : 35px;
  text-align : center;
  padding    : 5px;
  margin     : 0 10px;
}

@media screen and(min-width : 500px) {
  .pagination {
    flex-flow       : row nowrap;
    justify-content : flex-end;
  }

  .pagination__filter {
    width        : auto;
    margin-right : 50px;
  }
}