@import "../../common/variables";

@keyframes popup {
  0% {
    transform : rotateX(-60deg);
  }
  60% {
    transform : rotateX(20deg);
  }
  100% {
    transform : rotateX(0deg);
  }
}

.popup {
  display         : flex;
  flex-flow       : row nowrap;
  align-items     : center;
  justify-content : center;
  background      : rgba(0, 0, 0, .8);
  position        : fixed;
  top             : 0;
  left            : 0;
  width           : 100%;
  height          : 100%;
  z-index         : 150;
  perspective     : 1500px;
  visibility      : hidden;
  opacity         : 0;
  transition      : opacity 0.1s;
  &.visible {
    visibility : visible;
    opacity    : 1;
  }
}

.popup__close {
  cursor     : pointer;
  width      : 25px;
  height     : 25px;
  position   : absolute;
  top        : 25px;
  right      : 25px;
  z-index    : 100;
  transition : all 0.3s;
  &:hover {
    transform : scale(1.2);
  }
  &:before {
    position         : absolute;
    top              : 50%;
    left             : 0;
    display          : block;
    content          : "";
    width            : 100%;
    height           : 4px;
    background-color : $whiteSmoke;
    transform        : rotateZ(45deg);
  }
  &:after {
    position         : absolute;
    top              : 50%;
    left             : 0;
    display          : block;
    content          : "";
    width            : 100%;
    height           : 4px;
    background-color : $whiteSmoke;
    transform        : rotateZ(-45deg);
  }
}

.popup__inner {
  width            : 80%;
  background-color : $white;
  box-shadow       : 0 2px 4px 0 rgba(0, 0, 0, .5);
  height           : auto;
  max-height       : 80vh;
  overflow-y       : auto;
  border           : 1px solid #b7c2d9;
  border-radius    : 8px;
  transform-origin : top center;
  &.active {
    animation : popup 0.5s forwards;
  }
}

.popup__header {
  @include roboto-regular;
  border-radius    : 8px 8px 0 0;
  font-size        : 1.2em;
  padding          : 20px;
  color            : $metallicGray;
  background-color : $whiteSmoke;
  text-transform   : capitalize;
}

.popup__content {
  @include roboto-regular;
  padding : 20px;
}

@media screen and (min-width : 500px) {
  .popup__inner {
    width     : 80%;
    max-width : 450px;
  }
}

@media screen and (min-width : 700px) {
  .popup__inner {
    width : 70%;
  }

  .popup__close {
    top   : 50px;
    right : 50px;
  }
}

@media screen and (min-width : 920px) {
  .popup__inner {
    width     : 50%;
    max-width : 1000px;
  }
}