@import "../../common/variables";

.popup {
  display         : flex;
  flex-flow       : row nowrap;
  align-items     : center;
  justify-content : center;
  position        : fixed;
  top             : 0;
  left            : 0;
  background      : rgba(0, 0, 0, .3);
  width           : 100%;
  height          : 100%;
  z-index         : 100;
}

.popup__inner {
  width            : 50%;
  background-color : $white;
  box-shadow       : 0 2px 4px 0 rgba(0, 0, 0, .5);
  height           : auto;
  border           : 1px solid #b7c2d9;
  border-radius    : 8px;
}

.popup__header {
  @include roboto-regular;
  border-radius    : 8px 8px 0 0;
  font-size        : 1.2em;
  padding          : 20px 50px;
  color            : $metallicGray;
  background-color : $whiteSmoke;
  text-transform   : capitalize;
}

.popup__form {
  @include roboto-regular;
  padding : 20px 50px;
}