@import "../../common/variables";

.image {
  position : relative;
  width    : 100%;
  height   : 100%;
  display  : inline-block;
  background : {
    size     : cover;
    position : center;
  }
}

.image__button {
  display         : flex;
  justify-content : center;
  align-items     : center;
  cursor          : pointer;
  position        : absolute;
  left            : 0;
  width           : 100%;
  text-transform  : capitalize;
  top             : 0;
  color           : white;
  height          : 35px;
  z-index         : 1;

  &.image__button--bottom {
    top              : initial;
    bottom           : 0;
    background-color : $transparentRed;

    &:hover {
      background-color : $red;
    }
  }

  &.image__button--top {
    background-color : $transparentBlue;

    &:hover {
      background-color : $blue;
    }
  }
}

@media (min-width : 700px) {
  .image__button {
    font-size : 0.7em;
  }
}

@media (min-width : 1025px) {
  .image {
    background : {
      size     : cover;
      position : center;
    }
  }

  .image__button {
    background-color : rgba(0, 0, 0, .5);
    opacity          : 0.7;
    transition       : background-color 0.2s, opacity 0.2s;
    height           : 30px;

    &:hover {
      opacity : 1;
    }
  }
}