include ../../../views/mixins/formParts

+input("{{field.name}}")(name="{{field.name}}" ng-model="field.value" ng-required="{{field.required}}" ng-change="field.check();" ng-focus="field.reset();" ng-pattern="field.regex[field.type]" type="{{field.type}}" min="{{field.min}}" max="{{field.max}}" autocomplete="off")