include ../../../views/mixins/formParts

+ng-textarea("field.name")(name="{{field.name}}" ng-model="field.value" ng-required="{{field.required}}" ng-change="field.check();" ng-focus="field.reset();" ng-pattern="field.regex[textarea]" autocomplete="off")