include ../../../views/mixins/formParts

+input("{{field.type}}")(name="{{field.type}}" ng-model="field[field.type]" ng-required="true" ng-change="field.check();" ng-focus="field.reset();" ng-pattern="field.regex[field.type]" type="{{field.type}}" autocomplete="off")