include ../../views/mixins/formParts

popup(type="Remove Advert")
    popup-trigger
        button {{'Remove' | translate}}
    popup-content
        .popup__content
            advert-remove(advert-id="{{advert.id}}")

popup(type="Edit Advert")
    popup-trigger
        button {{'Edit' | translate}}
    popup-content
        .popup__content
            advert-edit(advert="$parent.$parent.advert.fields")
div(ng-if="!advert.fields.published")
    h2 (Not Published)
div.advert__field
    h3 Title : {{advert.fields.title}}
div.advert__field
    h3 Name : {{advert.fields.name}}
div.advert__field
    h3 Type : {{advert.fields.type}}
div.advert__field
    h3 Gender : {{advert.fields.gender}}
div.advert__field
    h3 age : {{advert.fields.age}}
div.advert__field
    h3 breed : {{advert.fields.breed}}
div.advert__field
    h3 info : {{advert.fields.info}}
div.advert__field
    div(ng-repeat="image in advert.fields.images" style="width: 30%; display: inline-block; height: 100px; background: url('/{{image}}'); background-size: cover;")
        button(ng-click="advert.removeImage(image);") Remove
        div
            label
                span Main image
                input(type="radio" ng-change="advert.save();" name="main-image" ng-model="advert.fields.mainImage" value="{{image}}")
div.advert__field(ng-if="advert.reviewEnabled && !advert.fields.reviewed")
    +button("Mark Reviewed")(ng-click="advert.review();")

images-uploader(advert-id="{{advert.id}}" advert="advert.fields")
