include ../../views/mixins/formParts
include ../../views/mixins/buttons


.filter__search
    .filter__search-field
        i.fa.fa-search
        input(ng-model = "filter.fields" placeholder="{{'General Search' | translate}}")
    button.filter__search-btn.button--red.button--invert_hover(ng-class="{'active': filter.extended}" ng-click="filter.toggleSearch();")
        span(ng-class="{'hidden': filter.extended}") {{'Extended Search' | translate}}
        span(ng-class="{'hidden': !filter.extended}") {{'General Search' | translate}}


.filter__inner(ng-class="{'active': filter.extended}")
    .filter__item
        +input("Name")(ng-change = "filter.fieldChange('name')" ng-model = "filter.fields.name")
    .filter__item
        +select("Type", {
            "type" : {
                "" : "All",
                "dog" : "Dog",
                "cat" : "Cat",
                "hamster" : "Hamster"
            }
        })(ng-change = "filter.fieldChange('type')" ng-model = "filter.fields.type")
    .filter__item
        +select("Gender", {
            "gender" : {
                "" : "Both",
                "male" : "Male",
                "female" : "Female"
            }
        }, true)(ng-change = "filter.fieldChange('gender')" ng-model = "filter.fields.gender")
    .filter__item
        +input("Breed")(ng-change = "filter.fieldChange('breed')" ng-model = "filter.fields.breed")