include ../../views/mixins/formParts
include ../../views/mixins/buttons



.section-filter

    .main-content__container

        filter.filter.section-filter__filter(ng-if="feed.filter_enabled" feed-filter="feed.filter")

        .sort.section-filter__sort
            .sort__item
                +select("Sort", {
                    "type" : {
                        "-publicationDate" : "newest first",
                        "publicationDate" : "oldest first"
                    }
                }, true)(ng-model = "feed.order" class="adverts-feed__select")
            .sort__item
                +select("Show", {
                    "show" : {
                        "" : "All adverts",
                        "1" : "Last day",
                        "3" : "Last 3 days",
                        "7" : "Last week",
                        "30" : "Last month"
                    }
                }, true)(ng-model = "feed.dateRange" class="adverts-feed__select")

.main-content__container

    .adverts-feed(ng-if="!feed.customFilter")
        advert.advert(ng-repeat="(index, advert) in feed.adverts | dateRange : feed.dateRange | filter: feed.filter | orderBy : feed.order" fields="advert" hide-fields="feed.hideFields" author="feed.authors[advert.author]" ng-if="feed.allAllowed")
        advert.advert(ng-repeat="(index, advert) in feed.adverts | dateRange : feed.dateRange | feed : feed.authors | filter: feed.filter | orderBy : feed.order" fields="advert" hide-fields="feed.hideFields" author="feed.authors[advert.author]" ng-if="!feed.allAllowed")
    .adverts-feed(ng-if="feed.customFilter")
        advert.advert(ng-repeat="(index, advert) in feed.adverts | dateRange : feed.dateRange | filter: feed.customFilter | orderBy : feed.order" fields="advert" hide-fields="feed.hideFields" author="feed.authors[advert.author]")