include ../../views/mixins/formParts

filter(ng-if="feed.filter_enabled" feed-filter="feed.filter")
+select("Date", {
    "type" : {
        "-publicationDate" : "Newer",
        "publicationDate" : "Older"
    }
}, true)(ng-model = "feed.order")
div.adverts-feed
    advert.advert(ng-repeat="(index, advert) in feed.adverts | filter: feed.filter | orderBy : feed.order" fields="advert" hide-fields="feed.hideFields" author="feed.authors[advert.author]")