include ../../views/mixins/formParts
popup-form
    +button("Remove")(type="button" ng-click="remover.remove(remover.id);")
    +button("Cancel")(class="form__btn--cancel" type="button" ng-click="remover.cancel();")