include ../../views/mixins/formParts
include ../../views/mixins/buttons



.section-filter

    .main-content__container

        filter.filter(ng-if="feed.filter_enabled" feed-filter="feed.filter")

        .sort
            .sort__item
                +select("Date", {
                    "type" : {
                        "-publicationDate" : "Newer",
                        "publicationDate" : "Older"
                    }
                }, true)(ng-model = "feed.order" class="adverts-feed__select")
            .sort__item
                +btn-default("All adverts")(ng-click="feed.dateRange = 0;" class="button--blue")
                +btn-default("Last day")(ng-click="feed.dateRange = 1;" class="button--blue")
                +btn-default("Last 3 days")(ng-click="feed.dateRange = 3;" class="button--blue")
                +btn-default("Last week")(ng-click="feed.dateRange = 7;" class="button--blue")
                +btn-default("Last month")(ng-click="feed.dateRange = 30;" class="button--blue")

.main-content__container

    .adverts-feed(ng-if="!feed.customFilter")
        advert.advert(ng-repeat="(index, advert) in feed.adverts | dateRange : feed.dateRange | filter: feed.filter | orderBy : feed.order" fields="advert" hide-fields="feed.hideFields" author="feed.authors[advert.author]" ng-if="feed.allAllowed")
        advert.advert(ng-repeat="(index, advert) in feed.adverts | dateRange : feed.dateRange | feed : feed.authors | filter: feed.filter | orderBy : feed.order" fields="advert" hide-fields="feed.hideFields" author="feed.authors[advert.author]" ng-if="!feed.allAllowed")
    .adverts-feed(ng-if="feed.customFilter")
        advert.advert(ng-repeat="(index, advert) in feed.adverts | dateRange : feed.dateRange | filter: feed.customFilter | orderBy : feed.order" fields="advert" hide-fields="feed.hideFields" author="feed.authors[advert.author]")