include ../../views/mixins/formParts

.adverts-feed__buttons
    button(class = "adverts-feed__button" ng-class="{'active': filter.extended}" ng-click="filter.fields = filter.defaults;filter.extended = true;") {{'Extended Search' | translate}}
    button(class = "adverts-feed__button" ng-class="{'active': !filter.extended}" ng-click="filter.fields = '';filter.extended = false;") {{'General Search' | translate}}

div(ng-hide="filter.extended")
    +input("General Search")(ng-model = "filter.fields")
div(ng-show="filter.extended")
    +input("Name")(ng-change = "filter.fieldChange('name')" ng-model = "filter.fields.name")
    +select("Type", {
        "type" : {
            "" : "All",
            "dog" : "Dog",
            "cat" : "Cat",
            "hamster" : "Hamster"
        }
    })(ng-change = "filter.fieldChange('type')" ng-model = "filter.fields.type")
    +radios("Gender", {
        "gender" : {
            "" : "Both",
            "boy" : "Boy",
            "girl" : "Girl"
        }
    })(ng-change = "filter.fieldChange('gender')" ng-model = "filter.fields.gender")
    +input("Breed")(ng-change = "filter.fieldChange('breed')" ng-model = "filter.fields.breed")
    +textarea("Info")(ng-change = "filter.fieldChange('info')" ng-model = "filter.fields.info")