div.advert__field(ng-if="advert.fields.name && !advert.hide.name")
    a(href="/advert/{{advert.fields._id}}") {{advert.fields.name}}
div.advert__field(ng-if="advert.fields.type && !advert.hide.type")
    | {{advert.fields.type}}
div.advert__field(ng-if="advert.fields.gender && !advert.hide.gender")
    | {{advert.fields.gender}}
div.advert__field(ng-if="advert.fields.age && !advert.hide.age")
    | {{advert.fields.age}}
div.advert__field(ng-if="advert.fields.publicationDate && !advert.hide.publicationDate")
    | {{advert.fields.publicationDate  | translate : 'date'}}
div.advert__field(ng-if="advert.fields.breed && !advert.hide.breed")
    | {{advert.fields.breed}}
div.advert__field(ng-if="advert.fields.info && !advert.hide.info")
    | {{advert.fields.info}}
div.advert__field(ng-if="advert.fields.author && !advert.hide.author")
    span(ng-show="advert.author.name") {{'Author' | translate}} :
    a(href="/author/{{advert.author._id}}" ng-hide="advert.author.name") {{'Author' | translate}}
    a(href="/author/{{advert.author._id}}" ng-show="advert.author.name")  {{advert.author.name}}