include ../../views/mixins/formParts
.advert-single__main-image.advert-single__main-image--mobile(background-block="/{{advert.fields.mainImage}}" classes="advert-single__main-image-inner")

.advert-single__banner(background-block="/assets/images/bg/advert-bg-{{advert.fields.type}}.svg" classes="advert-single__banner-inner")
    .advert-single__info
        h1.advert-single__title
            span {{advert.fields.title}}
            span.status.not-published(ng-click="advert.changeState();" ng-if="!advert.fields.published") {{'not published' | translate}}
            span.status.published(ng-click="advert.changeState();" ng-if="advert.fields.published") {{'published' | translate}}
        .advert__field
            .advert__field-name {{'name' | translate}}
            .advert__field-content {{advert.fields.name}}
        .advert__field
            .advert__field-name {{'type' | translate}}
            .advert__field-content {{advert.fields.type | translate}}
        .advert__field
            .advert__field-name {{'gender' | translate}}
            .advert__field-content {{advert.fields.gender | translate}}
        .advert__field
            .advert__field-name {{'age' | translate}}
            .advert__field-content {{advert.fields.age || 'Not specified' | translate}}
        .advert__field
            .advert__field-name {{'breed' | translate}}
            .advert__field-content {{advert.fields.breed || 'Not specified' | translate}}
        .advert__field.advert__field--info.advert__field--info-full
            .advert__field-name.advert__field-name--small {{'info' | translate}}
            .advert__field-content {{advert.fields.info || 'Not specified' | translate}}
    .btn-round.advert-single__btn(popup-trigger="edit advert" advert="advert.fields" title="{{'edit' | translate}}" ng-if="advert.editEnabled")
        i.fa.fa-pencil(aria-hidden="true")
    .btn-round.btn-round--top.btn-round--red.advert-single__btn.advert-single__btn--remove(popup-trigger="remove advert" advert-id="{{advert.id}}" title="{{'edit' | translate}}" ng-if="advert.editEnabled")
        i.fa.fa-trash(aria-hidden="true")
    .btn-round.btn-round--left.btn-round--double.advert-single__btn(popup-trigger="upload images" wide="true" advert-id="{{advert.id}}" advert="advert.fields" title="{{'add photos' | translate}}" ng-if="advert.editEnabled")
        i.fa.fa-plus(aria-hidden="true")
        i.fa.fa-camera(aria-hidden="true")

.advert-single__main-image.advert-single__main-image--desktop(ng-if="advert.fields.mainImage")
    .advert-single__main-image-inner(sticky wide-as=".advert-single__main-image--desktop")
        img(ng-src="/{{advert.fields.mainImage}}")

.advert-single__images
    .advert-single__image(ng-repeat="image in advert.fields.images")
        ng-image.advert-single__image-inner(bottom-btn="advert.removeImage(image);" top-btn="advert.setMainImage(image);" is-main="advert.fields.mainImage == image;" image="/{{image}}")
div(ng-if="advert.reviewEnabled && !advert.fields.reviewed")
    +button("Mark Reviewed")(ng-click="advert.review();")
popup-content(initial="edit advert,remove advert,upload images")

