include ../../views/mixins/formParts

div(popup type="Remove Advert")
    popup-trigger
        button Remove
    popup-content(ng-controller="advertRemoveCtrl as remover")
        form.popup__content
            button(type="button" ng-click="remover.remove(advert_id);") Remove
            button(type="button" ng-click="remover.cancel();") Cancel

div(popup type="Edit Advert")
    popup-trigger
        button Edit
    popup-content
        .popup__content
            div(advert-edit="$parent.$parent.advert.advertData" popup-close="$parent.popup.close();")

div.advert__field
    h3 Name : {{advert.advertData.name}}
div.advert__field
    h3 Type : {{advert.advertData.type}}
div.advert__field
    h3 Gender : {{advert.advertData.gender}}
div.advert__field
    h3 age : {{advert.advertData.age}}
div.advert__field
    h3 breed : {{advert.advertData.breed}}
div.advert__field
    h3 info : {{advert.advertData.info}}
div.advert__field
    div(ng-repeat="image in advert.advertData.images" style="width: 30%; display: inline-block; height: 100px; background: url('/{{image}}'); background-size: cover;")
        button(ng-click="advert.removeImage(image);") Remove
div(images-upload advert-id="{{advert_id}}" advert-images="advert.advertData.images")
