include ../../views/mixins/formParts
form.form(ng-submit="editor.advertUpdate({data : editor.temporaryData});editor.popup.close();" name="authorEditForm")
    +input("Name")(ng-model="editor.temporaryData.name" name="name" autocomplete="off")
    +select("Type", {
        "type" : {
            "dog" : "Dog",
            "cat" : "Cat",
            "hamster" : "Hamster"
        }
    })(ng-model = "editor.temporaryData.type")
    +radios("Gender", {
        "gender" : {
            "boy" : "Boy",
            "girl" : "Girl"
        }
    })(ng-model = "editor.temporaryData.gender")
    +input("Age")(type="number" ng-model = "editor.temporaryData.age")
    +input("Breed")(ng-model = "editor.temporaryData.breed")
    +textarea("Info")(ng-model = "editor.temporaryData.info")
    +button("Edit")
    +button("Cancel")(class="form__btn--cancel" type="button" ng-click="editor.cancel();")