include ../../views/mixins/formParts
form.form(ng-submit="editor.edit();" name="authorEditForm")
    +input("Name")(ng-model="editor.temporary_data.name" name="name" autocomplete="off")
    +input("Email")(name="email" ng-required="true" ng-model="editor.temporary_data.contactInfo.email" type="email" autocomplete="off")
    //+input("Password")(name="password" ng-required="true" ng-model="editor.temporary_data.password" type="password" autocomplete="off")
    +input("Phone Number")(name="phone" ng-model="editor.temporary_data.contactInfo.phone" autocomplete="off")
    +button("Edit")
    +button("Cancel")(class="form__btn--cancel" type="button" ng-click="editor.cancel();")