h3 {{author.fields.name}}
h3 {{author.fields.contactInfo.email}}
h3 {{author.fields.contactInfo.phone}}

popup(type="profile" ng-if="author.edit")
    popup-trigger
        button Edit Profile
    popup-content
        .popup__content
            author-edit(author="$parent.$parent.$parent.author.fields")
popup(type="Remove Profile" ng-if="author.remove")
    popup-trigger
        button Remove Profile
    popup-content
        .popup__content
            author-remove(author="$parent.$parent.$parent.author.fields")
