h3 Authors :
label
    | Blocked
    input(type="checkbox" ng-model="list.filter.blocked")
p(ng-repeat="author in list.authors | filter : list.filter | orderBy : 'name'")
    a(href="/author/{{author._id}}")
        span {{author.name || author._id}}
    span {{author.blocked ? "(blocked)" : ""}}