h3 {{author.info.name}}
h3 {{author.info.contactInfo.email}}
h3 {{author.info.contactInfo.phone}}

div(popup type="profile" ng-if="edit")
    popup-trigger
        button Edit Profile
    popup-content
        .popup__content
            div(author-edit="$parent.$parent.$parent.author.info" popup-close="$parent.popup.close();")
div(popup type="Remove Profile" ng-if="remove")
    popup-trigger
        button Remove Profile
    popup-content
        .popup__content
            div(author-remove="$parent.$parent.$parent.author.info" popup-close="$parent.popup.close();")
