include ../../views/mixins/formParts

popup-form(name="{{auth.form}}" submit-function="auth.authenticate(name);" label="{{auth.form=='login' ? 'login' : 'sign up'}}")
    form-input(type="email" name="email" required="true" value="auth.email")
    form-input(type="password" name="password" required="true" value="auth.password")
