.author__block
    .author__avatar
    .author__inner
        .author__field.author__field--name
            | {{author.fields.name || 'Not specified' | translate}}
        .author__field
            | {{author.fields.contactInfo.email}}
        .author__field
            | Member since:
            | {{author.fields.date | translate : 'date'}}
        .author__field
            | {{author.fields.contactInfo.phone}}

popup(type="profile" ng-if="author.edit")
    popup-trigger
        button {{'Edit Profile' | translate}}
    popup-content
        .popup__content
            author-edit
popup(type="Remove Profile" ng-if="author.remove")
    popup-trigger
        button {{'Remove Profile' | translate}}
    popup-content
        .popup__content
            author-remove
