include ../../views/mixins/formParts

popup-form(name="{{auth.form}}" submit-function="auth.authenticate(fields, name);" label="{{auth.form=='login' ? 'login' : 'sign up'}}")
    form-input(type="email")
    form-input(type="password")
