include ../../views/mixins/formParts
include ../../views/mixins/buttons

.social-auth
    .sort__item__title {{auth.form=='login' ? 'Login' : 'Sign up'}} with your social media accounts
    .social-auth__inner
        button.button.social-auth__btn.social-auth__btn--fb
            i.fa.fa-facebook
        button.button.social-auth__btn.social-auth__btn--vk
            i.fa.fa-vk

    .social-auth__description We'll never spam you, post on your behalf or do anything sketchy like that

    .social-auth__separator
        span {{"or" | translate}}

popup-form(name="{{auth.form}}" submit-function="auth.authenticate(name);" label="{{auth.form=='login' ? 'login' : 'sign up'}}")
    form-input(type="email" name="email" required="true" value="auth.email")
    form-input(type="password" name="password" required="true" value="auth.password")
