include ../../views/mixins/formParts
popup-form(name="authorEditForm" submit-function="editor.edit();" label="Edit")
    form-input(type="text" name="name" required="false" value="editor.temporaryData.name")
    form-input(type="email" name="email" required="true" value="editor.temporaryData.contactInfo.email")
    form-input(type="tel" name="phone" required="true" value="editor.temporaryData.contactInfo.phone")