h3 Authors :
p(ng-repeat="(id, author) in list.authors")
    a(href="/author/{{id}}")
        span(ng-if = "author.name") {{author.name}}
        span(ng-if = "!author.name") {{id}}
    span {{author.blocked ? "(blocked)" : ""}}