.burger-button(ng-click="btn.open();" ng-class="{'open' : btn.header.mobile}" ng-hide="btn.hide")
    span.burger-button__burger
    span.burger-button__burger
    span.burger-button__burger
    div.burger-button__cross
    div.burger-button__cross