.burger-button(ng-click="btn.active = !btn.active" ng-class="{'open' : btn.active}")
    span.burger-button__burger
    span.burger-button__burger
    span.burger-button__burger
    div.burger-button__cross
    div.burger-button__cross