include ../../views/mixins/formParts

div(popup type="Remove Advert")
    popup-trigger
        button Remove
    popup-content(ng-controller="advertRemoveCtrl as remover")
        form.popup__content
            button(type="button" ng-click="remover.remove(advert_id);") Remove
            button(type="button" ng-click="remover.cancel();") Cancel

div
    button(ng-hide = "advertEditor.edition" ng-click = "advertEditor.edition = true;") Edit
    button(ng-show = "advertEditor.edition" ng-click = "advertEditor.edition = false;advertEditor.save();") Save
    button(ng-show = "advertEditor.edition" ng-click = "advertEditor.edition = false;advertEditor.reset();") Cancel

div.advert__field
    label
        div(ng-hide = "advertEditor.edition")
            h3 Name
            | {{advertEditor.advert.name}}
        div(ng-show = "advertEditor.edition")
            +input("Name")(ng-model = "advertEditor.advert.name")
div.advert__field
    label
        div(ng-hide = "advertEditor.edition")
            h3 Type
            | {{advertEditor.advert.type}}
        div(ng-show = "advertEditor.edition")
            +select("Type", {
                "type" : {
                    "dog" : "Dog",
                    "cat" : "Cat",
                    "hamster" : "Hamster"
                }
            })(ng-model = "advertEditor.advert.type")
div.advert__field
    label
        div(ng-hide = "advertEditor.edition")
            h3 Gender
            | {{advertEditor.advert.gender}}
        div(ng-show = "advertEditor.edition")
            +radios("Gender", {
                "gender" : {
                    "boy" : "Boy",
                    "girl" : "Girl"
                }
            })(ng-model = "advertEditor.advert.gender")
div.advert__field
    label
        div(ng-hide = "advertEditor.edition")
            h3 age
            | {{advertEditor.advert.age}}
        div(ng-show = "advertEditor.edition")
            +input("Age")(type="number" ng-model = "advertEditor.advert.age")
div.advert__field
    label
        div(ng-hide = "advertEditor.edition")
            h3 breed
            | {{advertEditor.advert.breed}}
        div(ng-show = "advertEditor.edition")
            +input("Breed")(ng-model = "advertEditor.advert.breed")
div.advert__field
    label
        div(ng-hide = "advertEditor.edition")
            h3 info
            | {{advertEditor.advert.info}}
        div(ng-show = "advertEditor.edition")
            +textarea("Info")(ng-model = "advertEditor.advert.info")
