.header__inner
    a.header__logo(href='/')

    include ../../views/partials/_nav

    burger-button.header__button

    .header__menu--mobile(ng-class="{'open' : header.mobile}")
        include ../../views/partials/_nav

    popup-content(initial="login,registration,reset password" ng-if="!header.user")