include ../../views/mixins/buttons
.hero(ng-parallax ratio="-0.01")
    .hero__title Every pet needs a home
    .hero__subtitle Unified service announcements about stray animals
    .hero__btn-wrap
        +btn-default("Get Pet")(type="button" class="hero__button button--blue button--overlay_hover")
        +btn-default("Publish Pet")(type="button" class="hero__button button--blue button--overlay_hover")