include ../../views/mixins/buttons
label.uploader__btn.button--blue.button--invert_hover(ng-class="{'no-margin' : !images.fileUploader.queue.length}" for="images-upload") {{'Add photos from your computer' | translate}}
input.uploader__input(type="file" id="images-upload" nv-file-select uploader="images.fileUploader" multiple)
.uploader__inner
    ng-thumb.image.uploader__image(ng-repeat="item in images.fileUploader.queue" new-file="item._file")
        .image__button.image__button--top(ng-click="item.upload();") {{'Upload' | translate}}
        .image__button.image__button--bottom(ng-click="item.remove();") {{'Remove' | translate}}
.uploader__btn-wrap(ng-class="{'no-margin' : !images.fileUploader.queue.length}")
    button.uploader__btn.uploader__btn--wrapped.button--red.button--invert_hover(ng-if="images.fileUploader.queue.length" ng-click="images.fileUploader.clearQueue();") {{'Remove All' | translate}}
    button.uploader__btn.uploader__btn--wrapped.button--blue.button--invert_hover(ng-if="images.fileUploader.queue.length" ng-click="images.fileUploader.uploadAll();") {{'Upload All' | translate}}
