include ../../views/mixins/buttons
label.button.button--wide.button--blue.advert-single__images-upload-btn-label(for="images-upload") {{'Add photos from your computer' | translate}}
input.advert-single__images-upload-btn(type="file" id="images-upload" nv-file-select uploader="images.fileUploader" multiple)
.advert-uploaded__images
    ng-thumb.advert-uploaded__image(ng-repeat="item in images.fileUploader.queue" new-file="item._file")
        .image__button.image__button--top(ng-click="item.upload();") {{'Upload' | translate}}
        .image__button.image__button--bottom(ng-click="item.remove();") {{'Remove' | translate}}
.advert-uploaded__images-buttons
    button.button.button--quarter.button--red(ng-if="images.fileUploader.queue.length" ng-click="images.fileUploader.clearQueue();") {{'Remove All' | translate}}
    button.button.button--quarter.button--blue(ng-if="images.fileUploader.queue.length" ng-click="images.fileUploader.uploadAll();") {{'Upload All' | translate}}
