include ../../views/mixins/buttons

label.button.button--wide.button--blue.advert-single__images-upload-btn-label(ng-if="!images.fileUploader.queue.length" for="images-upload") {{'Add photos from your computer' | translate}}
input.advert-single__images-upload-btn(type="file" id="images-upload" nv-file-select uploader="images.fileUploader" multiple)
button.button.button--wide.button--blue(ng-if="images.fileUploader.queue.length" ng-click="images.fileUploader.uploadAll();") {{'Upload All' | translate}}
ul
    li(ng-repeat="item in images.fileUploader.queue") Name: {{item.file.name}}
        div(ng-thumb='{ file: item._file, height: 200 }')
        button(ng-click="item.upload();") {{'Upload' | translate}}
        button(ng-click="item.remove();") {{'Remove' | translate}}