button.lang__btn(type="button" ng-click="translator.changeLanguage('en');" translate="BUTTON_LANG_EN")
button.lang__btn(type="button" ng-click="translator.changeLanguage('ru');" translate="BUTTON_LANG_RU")