.lang__trigger(ng-class="{'active' : translator.select}" ng-click="translator.select = !translator.select")
    .lang__btn(ng-if="translator.key == 'en'")
        span english
        i.lang__btn-icon.lang__btn-icon--en
    .lang__btn(ng-if="translator.key == 'ru'")
        span русский
        i.lang__btn-icon.lang__btn-icon--ru
    .lang__btn(ng-if="translator.key == 'ua'")
        span українська
        i.lang__btn-icon.lang__btn-icon--ua
    ul.lang(ng-show="translator.select")
        li.lang__btn.lang__btn--dropdown(ng-click="translator.changeLanguage('en');")
            span english
            i.lang__btn-icon.lang__btn-icon--en
        li.lang__btn.lang__btn--dropdown(ng-click="translator.changeLanguage('ru');")
            span русский
            i.lang__btn-icon.lang__btn-icon--ru
        li.lang__btn.lang__btn--dropdown(ng-click="translator.changeLanguage('ua');")
            span українська
            i.lang__btn-icon.lang__btn-icon--ua