.lang__trigger(ng-click="translator.select = !translator.select")
    .lang__btn.lang__btn--en(ng-if="translator.key == 'en'")
        span(translate="BUTTON_LANG_EN")
    .lang__btn.lang__btn--ru(ng-if="translator.key == 'ru'")
        span(translate="BUTTON_LANG_RU")
    .lang__btn.lang__btn--ua(ng-if="translator.key == 'ua'")
        span(translate="BUTTON_LANG_UA")
    ul.lang(ng-show="translator.select")
        li.lang__btn.lang__btn--en(ng-click="translator.changeLanguage('en');")
            span(translate="BUTTON_LANG_EN")
        li.lang__btn.lang__btn--ru(ng-click="translator.changeLanguage('ru');")
            span(translate="BUTTON_LANG_RU")
        li.lang__btn.lang__btn--ua(ng-click="translator.changeLanguage('ua');")
            span(translate="BUTTON_LANG_UA")