div(class="notifier")
    div.notifier__message(ng-click="message.closed = true;" class = "{{message.state}}" ng-repeat="message in notifier.messages | orderBy : '$index' : true" ng-class="{visible : !message.closed, closed : message.closed}")
        span.notifier__content(ng-bind="message.message")