include ../../views/mixins/formParts
include ../../views/mixins/buttons

.filter__search
    .filter__search-field
        i.icon-search
        input(ng-model = "filter.fields.title" ng-change="filter.change('title')" placeholder="{{'Start typing the Title' | translate}}")
    button.filter__search-btn.button--red.button--invert_hover(ng-class="{'active': filter.extended}" ng-click="filter.toggleSearch();")
        span(ng-class="{'hidden': filter.extended}") {{'Extended Search' | translate}}
        span(ng-class="{'hidden': !filter.extended}") {{'General Search' | translate}}