.search
    .search__field
        i.icon-search
        input(ng-model = "search.value" ng-change="search.change();" ng-focus="search.change();" ng-blur="search.reset();" placeholder="{{'Search' | translate}}")
    .search__results(ng-class="{active: search.results.length}")
        a.search__item(ng-repeat="result in search.results" href="/pet/{{result._id}}")
            .search__item-icon(background-image="{{result.mainImage}}" type="{{result.type}}" bg-size="80%")
            .search__item-title {{result.title}}
            .search__item-name {{result.name}}