include ../../views/mixins/formParts
include ../../views/mixins/buttons

.section-filter

    .main-content__container

        .section-filter__inner

            search.section-filter__search

            .sort.section-filter__sort
                .sort__item
                    +select("Sort", {
                        "type" : {
                            "desc" : "Newest first",
                            "asc" : "Oldest first"
                        }
                    }, true)(ng-model = "feed.order" ng-change="feed.changeOrder()")
                .sort__item
                    +select("Show", {
                        "show" : {
                            "" : "All pets",
                            "1" : "Last day",
                            "3" : "Last 3 days",
                            "7" : "Last week",
                            "30" : "Last month"
                        }
                    }, true)(ng-model = "feed.period" ng-change="feed.changePeriod()")
                .sort__item
                    +select("Location", {
                        "location" : {
                            "kyiv" : "Kyiv",
                            "chernihiv" : "Chernihiv"
                        }
                    }, true)
                .sort__item
                    +select("Gender", {
                        "gender" : {
                            "" : "Both",
                            "male" : "Male",
                            "female" : "Female"
                        }
                    }, true)(ng-change = "feed.changeGender()" ng-model = "feed.gender")
                .sort__item
                    +select("Type", {
                        "type" : {
                            "" : "All",
                            "dog" : "Dog",
                            "cat" : "Cat",
                            "bird" : "Bird",
                            "rabbit" : "Rabbit",
                            "fish" : "Fish",
                            "ferret" : "Ferret",
                            "guinea pig" : "Guinea pig",
                            "hamster" : "Hamster"
                        }
                    })(ng-change = "feed.changeType()" ng-model = "feed.type")

.main-content__container
    page-separator(ng-if="!feed.total") {{'no adverts were found' | translate}}
    page-separator(ng-if="feed.total") {{'total - ' | translate : 'all'}} {{feed.total}}

    feed-pagination

    .pets-feed(ng-if="!feed.customFilter")
        pet.pets-feed__item.pet(ng-repeat="pet in feed.pets" fields="pet" hide-fields="feed.hideFields" author="feed.authors[pet.author]" ng-if="feed.allAllowed")
        pet.pets-feed__item.pet(ng-repeat="pet in feed.pets" fields="pet" hide-fields="feed.hideFields" author="feed.authors[pet.author]" ng-if="!feed.allAllowed")
    .pets-feed(ng-if="feed.customFilter")
        pet.pets-feed__item.pet(ng-repeat="pet in feed.pets" fields="pet" hide-fields="feed.hideFields" author="feed.authors[pet.author]")