include ../../views/mixins/formParts
include ../../views/mixins/buttons



.section-filter

    .main-content__container

        .section-filter__inner

            filter.filter.section-filter__filter(ng-if="feed.filter_enabled" feed-filter="feed.filter")

            .sort.section-filter__sort
                .sort__item
                    +select("Sort", {
                        "type" : {
                            "-publicationDate" : "Newest first",
                            "publicationDate" : "Oldest first"
                        }
                    }, true)(ng-model = "feed.order")
                .sort__item
                    +select("Show", {
                        "show" : {
                            "" : "All pets",
                            "1" : "Last day",
                            "3" : "Last 3 days",
                            "7" : "Last week",
                            "30" : "Last month"
                        }
                    }, true)(ng-model = "feed.dateRange")

.main-content__container
    page-separator(ng-if="!feed.filtered.length") {{'no adverts were found' | translate}}
    page-separator(ng-if="feed.filtered.length") {{'total - ' | translate : 'all'}} {{feed.filtered.length}}
    .pets-feed(ng-if="!feed.customFilter")
        pet.pets-feed__item.pet(ng-repeat="(index, pet) in feed.filtered = (feed.pets | dateRange : feed.dateRange | filter: feed.filter | orderBy : feed.order)" fields="pet" hide-fields="feed.hideFields" author="feed.authors[pet.author]" ng-if="feed.allAllowed")
        pet.pets-feed__item.pet(ng-repeat="(index, pet) in feed.filtered = (feed.pets | dateRange : feed.dateRange | feed : feed.authors | filter: feed.filter | orderBy : feed.order)" fields="pet" hide-fields="feed.hideFields" author="feed.authors[pet.author]" ng-if="!feed.allAllowed")
    .pets-feed(ng-if="feed.customFilter")
        pet.pets-feed__item.pet(ng-repeat="(index, pet) in feed.filtered = (feed.pets | dateRange : feed.dateRange | filter: feed.customFilter | orderBy : feed.order)" fields="pet" hide-fields="feed.hideFields" author="feed.authors[pet.author]")
