include ../../views/mixins/formParts

.reset-form
    .popup__inner
        .popup__header {{'Password Reset' | translate}}
        .popup__content
            popup-form(name="resetForm" submit-function="reset.submit();" label="Reset")
                form-input(type="password" name="password" required="true" value="reset.password")
                form-input(type="password" name="passwordConfirm" required="true" value="reset.passwordConfirm")