include ../../views/mixins/formParts

.reset-form
    .popup__inner
        .popup__header {{'Password Reset' | translate}}
        .popup__content
            form.form(novalidate ng-submit="reset.submit();" name="resetForm")
                +input("Password")
                +input("Confirm Password")
                div.form__item.form__item--btn.form__item--no-margin
                    +button("Reset")(ng-click="reset.check()" title="{{'Reset' | translate}}")