.verification-banner
    span {{'To verify your account please check your email for a verification letter' | translate}} (
    a.verification-banner__btn(ng-click="verification.send();") {{'send again' | translate}}
    span )