@import "../../common/variables";

@keyframes cross {
  0% {
    width : 0;
  }
  100% {
    width : 100%;
  }
}

.header {
  position  : relative;
  width     : 100%;
  height    : 60px;
  display   : flex;
  flex-flow : row nowrap;
  padding   : 0 50px;
}

.header__logo {
  display         : flex;
  align-items     : center;
  justify-content : center;
  width           : 150px;
  height          : 100%;
  @include roboto-condensed;
  font-size       : 28px;
  color           : $fontColor !important;
}

.header__menu {
  height          : 100%;
  display         : flex;
  align-items     : center;
  justify-content : flex-end;
}

.header-menu__item {
  padding : 15px;
}

.header__lang {
  height     : 100%;
  background : gray;
}

.header__button {
  display     : flex;
  height      : 100%;
  align-items : center;
  position    : relative;
}

@media screen and (min-width : 500px) {
  .header__button {
    display : none;
  }
}