@import "../../common/variables";

.header {
  position        : fixed;
  z-index         : 10;
  color           : white;
  background      : rgba(0, 0, 0, 0.7);
  width           : 100%;
  height          : $headerHeight;
  display         : flex;
  flex-flow       : row nowrap;
  justify-content : space-between;
  padding         : 0 10px;
}

.header__logo {
  display         : flex;
  align-items     : center;
  justify-content : center;
  width           : 150px;
  height          : 100%;
  @include roboto-condensed;
  font-size       : 28px;
}

.header__menu--mobile {
  perspective     : 1600px;
  position        : fixed;
  left            : 100%;
  width           : 100%;
  height          : 100%;
  background      : white;
  transition      : 0.56s cubic-bezier(0.52, 0.01, 0.16, 1);
  display         : flex;
  flex-flow       : row nowrap;
  justify-content : center;
  align-items     : center;
  overflow        : hidden;
  &.open {
    left : 0;
    .header__menu {
      transform : rotateY(0deg);
    }
  }
  .header__menu {
    transform-origin : left center;
    display          : flex;
    flex-flow        : column wrap;
    width            : 100%;
    height           : 100%;
    justify-content  : center;
    align-items      : center;
    color            : black;
    transform        : rotateY(90deg);
    transition       : 0.43s 0.18s;
  }
  .header__menu-item {
    display         : flex;
    justify-content : center;
    @include roboto-regular;
    margin          : 20px 0;
    font-size       : 1.5em;
  }
  .header__menu-item--lang {
    order : 10;
  }
}

.header__menu {
  display : none;
}

.header__menu-item {
  display     : flex;
  align-items : center;
  height      : 40px;
  padding     : 0 15px;
  cursor      : pointer;
}

.header__menu-item--lang {
  align-items : flex-start;
}

.header__lang {
  height     : 100%;
  background : gray;
}

.header__button {
  display     : flex;
  height      : 100%;
  align-items : center;
  position    : relative;
}

@media screen and (min-width : 600px) {

  .header {
    padding : 0 50px;
  }

  .header__button {
    display : none;
  }

  .header__menu {
    height          : 100%;
    display         : flex;
    align-items     : center;
    justify-content : flex-end;
  }

  .header__menu--mobile {
    left : 100% !important;
  }
}