.advert-single__main-image {
  height : 150px;
  background : {
    size     : cover;
    position : center;
    repeat   : no-repeat;
    color    : #c6c5c5;
  }
}

.advert-single__title {
  font-size  : 1.3em;
  text-align : center;
}