@import "../../common/mixins";

.button {
  @include button(150px, 45px);
  position : relative;
  &:after {
    content    : "";
    position   : absolute;
    width      : 100%;
    height     : 100%;
    top        : 100%;
    left       : 0;
    background : rgba(0, 0, 0, 0.3);
    transition : top 0.2s cubic-bezier(0.5, 0.97, 0.85, 1.01);
  }
  &:hover {
    &:after {
      top : 0;
    }
  }
}

.button__title {
  position : relative;
  z-index  : 2;
}

.button--read-more {
  position  : absolute;
  width     : calc(100% - 20px);
  height    : 40px;
  left      : 10px;
  bottom    : 10px;
  font-size : 0.9em;
}

.button--blue {
  background   : $blue;
  border-color : $blue;

  .button__title {
    color : white;
  }
}

.button--red {
  background   : $red;
  border-color : $red;

  .button__title {
    color : white;
  }
}