@import "../../common/mixins";

.button {
  @include button(150px, 45px);
  position    : relative;
  line-height : 1.2;
}

.button--overlay_hover {
  &:after {
    content    : "";
    position   : absolute;
    width      : 100%;
    height     : 100%;
    top        : 100%;
    left       : 0;
    background : rgba(0, 0, 0, 0.3);
    transition : top 0.2s cubic-bezier(0.5, 0.97, 0.85, 1.01);
  }
  &:hover {
    &:after {
      top : 0;
    }
  }
}

.button--wide {
  width : 100%;
}

.button__title {
  position : relative;
  z-index  : 2;
}

.button--read_more {
  position  : absolute;
  width     : calc(100% - 20px);
  height    : 40px;
  left      : 10px;
  bottom    : 10px;
  font-size : 0.8rem;
}

.button--blue {
  background   : $blue !important;
  border-color : $blue !important;
  .button__title {
    color : white;
  }

  &.button--transparent {
    border-width : 2px;
    @include buttonTransparent($blue);
  }

  &.button--invert_hover {
    border-width : 2px;
    @include invertBgHover($blue);
  }

}

.button--red {
  background   : $red !important;
  border-color : $red !important;

  .button__title {
    color : white;
  }

  &.button--transparent {
    @include buttonTransparent($red);
  }

  &.button--invert_hover {
    border-width : 2px;
    @include invertBgHover($red);
  }
}

.button--green {
  background   : $green !important;
  border-color : $green !important;

  .button__title {
    color : white;
  }

  &.button--transparent {
    @include buttonTransparent($green);
  }

  &.button--invert_hover {
    border-width : 2px;
    @include invertBgHover($green);
  }

  &.button--standard_hover {
    @include standardBgHover($greenHover);
  }

}