@import "../../common/variables";

.page-separator {
  position       : relative;
  padding-bottom : 10px;
  margin         : 10px 0;
  border-bottom  : 1px solid $lightGray;
}

.page-separator__content {
  position         : absolute;
  height           : 1em;
  font-size        : .9em;
  left             : 50%;
  top              : 2px;
  transform        : translateX(-50%);
  background-color : #fff;
  padding          : 0 10px;
  text-transform   : uppercase;
}