@import "../../common/_variables";
@import "../../common/mixins";

$btnSize : 50px;
$btnPosition : 20px;
$btnMobileVerticalPosition : 70px;
$btnIncrement : 20px;

@mixin btnRoundHoverAnimation($horPlace : right, $verPlace : bottom, $verPosition : $btnPosition, $horPosition : $btnPosition) {
  0% {
    width         : $btnSize;
    height        : $btnSize;
    #{$verPlace}  : $verPosition;
    #{$horPlace}  : $horPosition;
  }
  30% {
    width         : $btnSize + $btnIncrement;
    height        : $btnSize + $btnIncrement;
    #{$verPlace}  : $verPosition - ($btnIncrement/2);
    #{$horPlace}  : $horPosition - ($btnIncrement/2);
  }
  100% {
    width         : $btnSize + ($btnIncrement/2);
    height        : $btnSize + ($btnIncrement/2);
    #{$verPlace}  : $verPosition - ($btnIncrement/4);
    #{$horPlace}  : $horPosition - ($btnIncrement/4);
  }
}

@keyframes btnHoverIn {
  @include btnRoundHoverAnimation();
}

@keyframes btnLeftHoverIn {
  @include btnRoundHoverAnimation('left');
}

@keyframes btnTopMobileHoverIn {
  @include btnRoundHoverAnimation('right', 'top', $btnMobileVerticalPosition);
}

@keyframes btnTopHoverIn {
  @include btnRoundHoverAnimation('right', 'top');
}

.btn-round {
  display          : flex;
  cursor           : pointer;
  width            : $btnSize;
  height           : $btnSize;
  position         : fixed;
  bottom           : $btnPosition;
  right            : $btnPosition;
  justify-content  : center;
  align-items      : center;
  border-radius    : 50%;
  background-color : lighten($blue, 10%);
  color            : white;
  font-size        : 1.2em;
  padding          : 8px;
  z-index          : 9;
  transition       : background-color 0.2s, padding 0.2s;

  &:hover {
    animation        : btnHoverIn 0.2s forwards;
    background-color : $blue;
  }
}

.btn-round--red {
  background-color : lighten($red, 10%);
  &:hover {
    background-color : $red;
  }
}

.btn-round--left {
  right : initial;
  left  : $btnPosition;

  &:hover {
    animation : btnLeftHoverIn 0.2s forwards;
  }
}

.btn-round--top {
  bottom : initial;
  top    : $btnMobileVerticalPosition;

  &:hover {
    animation : btnTopMobileHoverIn 0.2s forwards;
  }
}

.btn-round--double {
  padding         : 0 8px;

  justify-content : space-around;
  font-size       : 0.8em;
  &:hover {
    padding : 0 10px;
  }
}

@media (min-width : 700px) {

  .btn-round--top {
    top : $btnPosition;

    &:hover {
      animation : btnTopHoverIn 0.2s forwards;
    }
  }
}