@import "../../common/mixins";
@import "../../common/variables";

$innerHeightSm : 355px;
$innerHeightMd : 240px;
$filterHeight : 37px;

.section-filter {
  background-color : ghostwhite;
  margin-top       : -$headerHeight;
  padding          : 25px 0;
}

.filter {
  position      : relative;
  display       : block;
  margin-bottom : 25px;
}

.filter__inner {
  border           : 1px solid lightgrey;
  background-color : ghostwhite;
  top              : -$filterHeight;
  position         : relative;
  padding          : 0;
  height           : 0;
  overflow         : hidden;
  transform-origin : top left;
  transform        : scale(0);
  transition       : transform .2s cubic-bezier(0, 1.13, 1, 0.95), height .2s cubic-bezier(0, 1.13, 1, 0.95);
  &.active {
    padding       : 40px 25px 25px;
    transform     : scale(1);
    height        : $innerHeightSm;
    margin-bottom : -$filterHeight;
  }
}

.filter__search {
  display         : flex;
  flex-flow       : row nowrap;
  align-items     : center;
  justify-content : flex-start;
  height          : $filterHeight;
}

.filter__search-btn {
  display         : inline-flex;
  justify-content : center;
  height          : $filterHeight;
  width           : 150px;
  position        : relative;
  z-index         : 1;
  margin-left     : 25px;
  padding         : 0 15px;
  cursor          : pointer;
  background      : $red;
  border          : 1px solid $red;
  color           : white;
  .hidden {
    display : none;
  }
  &.active {

  }
}

.filter__search-field {
  width    : calc(100% - 175px);
  position : relative;
  input {
    @include input;
    padding-left : 50px;
    &.disabled {
      color : transparent;
    }
  }
  i {
    width      : 50px;
    top        : 50%;
    text-align : center;
    position   : absolute;
    transform  : translateY(-50%);
    font-size  : 1em;
    color      : $metallicGray;
    transition : color 0.3s;
  }
  &:hover {
    i {
      color : lightgrey;
    }
  }
}

.filter__item {
  margin-bottom : 15px;
  &:last-child {
    margin-bottom : 0;
  }
}

@media screen and (min-width : 600px) {

  .filter__inner {
    display         : flex;
    flex-flow       : row wrap;
    justify-content : space-around;
    align-items     : flex-start;
    &.active {
      height : $innerHeightMd;
    }
  }

  .filter__item {
    width     : 45%;
    max-width : 280px;
  }
}

@media screen and (min-width : 850px) {
  .filter {
    margin : 25px 0 40px;
  }
  .filter__inner {
    justify-content  : space-between;
    position         : absolute;
    top              : -20px;
    border           : none;
    height           : auto;
    width            : 0;
    transform-origin : left center;
    transition       : transform 0.3s cubic-bezier(0, 1.13, 1, 0.95), width 0.3s cubic-bezier(0, 1.13, 1, 0.95);
    &.active {
      width   : calc(100% - 175px);
      padding : 0;
      height  : auto;
    }
  }

  .filter__item {
    width        : calc(25% - 15px);
    margin-right : 15px;
    &:last-child {
      margin-right : 0;
    }
  }
}