@import "../../common/mixins";
@import "../../common/variables";

.filter {
}

.section-filter {
  background-color : ghostwhite;
  margin-top       : -$headerHeight;
  padding          : 25px 0;
}

.filter__inner {
  border  : 1px solid lightgrey;
  padding : 25px;
}

.filter__search {
  display     : flex;
  flex-flow   : row nowrap;
  align-items : center;
}

.filter__search-btn {
  margin-left : 25px;
  cursor      : pointer;
  background  : $red;
  border      : 1px solid $red;
  color       : white;
  padding     : 0 15px;
  height      : 37px;
  width       : auto;
}

.filter__search-field {
  width    : 100%;
  position : relative;
  input {
    @include input;
    padding-left : 50px;
    &.disabled {
      color : transparent;
    }
  }
  i {
    width      : 50px;
    top        : 50%;
    text-align : center;
    position   : absolute;
    transform  : translateY(-50%) rotateZ(90deg);
    font-size  : 1em;
    color      : $metallicGray;
    transition : color 0.3s;
  }
  &:hover {
    i {
      color : lightgrey;
    }
  }
}

.filter__item {
  margin-bottom : 15px;
  &:last-child {
    margin-bottom : 0;
  }
}

@media screen and (min-width : 600px) {
  .filter__inner {
    display         : flex;
    flex-flow       : row wrap;
    justify-content : flex-start;
    align-items     : flex-start;
  }

  .filter__item {
    width        : 45%;
    max-width    : 280px;
    margin-right : 15px;
  }
}